.bar {
    width: 10px;
    background-color: #03a9f4; 
    margin: 1px;
    transition: height 0.2s;
  }


  #canvas {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    height: 50%;
    width: 50%;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(255, 217, 234) 0%, rgba(148, 187, 233, 1) 100%);
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }


  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: snow;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    position: absolute;
    top : 80%;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  