html, body {
    overflow-x: hidden;
    overflow-y: hidden; 
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    background-image: url('https://wallpapercave.com/wp/5KLTq1z.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: -2;
}

.date{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    letter-spacing: 0.2em;
    opacity: 0.6;
    color: whitesmoke;
    align-self: center;
    text-align: center;
}

.day{
    padding-top: 8px;
}
.time{
    padding: 32px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
}

#line {
    width: 100%;
    bottom: 4em;
    border-bottom: solid white;
    padding: 15px;
    opacity: 0.5;
  }

h1 {
    text-align: center;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.center{
    margin: 0;
    padding: 16px;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#clock {
    display: block;
    margin: auto;
    padding: 0;
}

h1{
    margin-bottom: 48px;
    text-align: center;
    color: whitesmoke;
}

#navigate {
    margin: auto;
    border: #888888;
    color: #333333;
    padding: 8px;
}
