body{
    font-family: 'Comic Neue', cursive;
    color:white
}
.page-header1{
    text-align: center;
    display: block;
    background-color:grey;
    position: relative;
}
.page-logo,.page-heading{
    height: 200px;
}
.page-logo{
    float: left;
}
.page-heading{
    position: center;
}
footer{
    text-align: center;
    background-color: #1b1b1b;
    color: rgb(124, 124, 124);
    padding: 8px;
    font-size: 12px;
}
#username{
    color: white;
}
.empty{
    padding: 35px;
    width: auto;
    background-color:#222;
}
.boardcontainer{
    background-color: rgba(240,180,135,1);
    padding: 1px;
    height: 600px;
    width: 600px;
    margin: 50px auto;
    border-radius: 4%;
    position: relative;
}
.board{
    height: 500px;
    width: 500px;
    background: rgba(40,40,40,1) -webkit-radial-gradient(center, rgba(40,80,60,1), rgba(0,20,20,.6));
    margin: 50px auto;
    border-radius: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-btn{
    background-color: green;
    color: white;
    font-size: x-large;
    display: block;
    block-size: initial;
    height: 135px;
    width:280px;
    font-size: 50px;
}
.choice,.XOchoice{
    font-size: 50px;
    margin-top: 0px;
    text-align: center;
    width: 100%;
    height: 300px;
    display: none;
   
}
.choice button{
    background: none;
    border: none;
    opacity: .6;
    border-radius: 20px;
    border: 2px solid transparent;
    font-size: 1.7rem;
    color: white;
}
.XObutton{
    border-radius: 40px;
    height: 96px;
    width: 85px;
    font-size: 60px;
    text-align: center;
}

.X0button:hover{
    border: 2px dashed;
}
.gameboard{
    display: none;
}
  .row {
    font-size: 0px;
  }
  
  .row > div {
    display: inline-block;
    font-size: 90px;
  /*   border: solid 1px white; */
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: top;
    line-height: 150px;
  }
  
  .right{
    border-right: solid 5px black;
  }
  .bottom {
    border-bottom: solid 5px rgb(0, 0, 0);
  }
  .reset-section,.replay-section{
      position: absolute;
      display: none;
  }
  .reset{
    margin-left: 450px;
    margin-top: 4px;
    color: white;
}
#overlay {
    display: none;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 500px; /* Full width (cover the whole page) */
    height: 500px; /* Full height (cover the whole page) */
    top: 51px;
    left: 50px;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    border-radius: 4%; /* Add a pointer on hover */
  }
.result{
        background-color: rgba(000,000,000,0.9);
        left: 20.5%;
        top: 42%;
        padding: 50px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-size: 2em;
}
.replay{
    margin-top: 4px;
    margin-left: 63px;
}