*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    border: 5px groove lightcoral;
    outline: none;
    background-color: rgb(110, 59, 168);
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    padding: 24px;
    border-radius: 35px;
    background: linear-gradient(145deg, #6b2494, #3d1070);
}