@charset "utf-8";

* {
  outline: none;
  box-sizing: border-box;
  box-shadow: none;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("https://source.unsplash.com/random/1920x1080");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-box {
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 30px;
  height: 55%;
  width: 35%;
  top: 50%;
  left: 50%;
}

.main-box > h1 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
button {
  transform: translate(70%, 80%);
  border-radius: 5px !important;
  background-color: #011b56;
  outline: none !important;
  color: #ffff;
  padding: 15px;
  border: none;
  width: 40%;
}
button:hover {
  background-color: #0269a4;
}
.form-group {
  width: 80%;
  margin: auto;
}
