* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* height: 100%; */
}
.world {
  display: flex;
  flex-direction: column;
}
.info {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.checkboxInfo {
  width: 33.33%;
  font-size: 15px;
  height: 100px;
  margin: 20px;
}
.solutions {
  width: 33.33%;
  font-size: 15px;
  height: 100px;
  margin: 20px;
}
.solutions #answer {
  font-size: 20px;
}
.checkboxes {
  display: flex;
  flex-direction: column;
}
.checkboxes div {
  margin: 5px;
}
.canvasArea {
  width: 100%;
  height: 618px;
}
#canvas {
  height: 100%;
  width: 100%;
}
.sliderInfo {
  width: 33.33%;
  font-size: 15px;
  height: 100px;
  margin: 20px;
}
.sliders {
  display: flex;
  flex-direction: column;
}
.sliders div {
  margin: 5px;
}
.myInput {
  margin: 4px;
}
