@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container > * {
  color: var(--font-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  height: 300px;
  width: 500px;
  border: 0.5px solid var(--border-color);
  border-radius: 0.35rem;
  background-color: var(--background-color-alternate);
  margin: 5rem;
  justify-content: center;
  box-shadow: 6px 6px 20px var(--border-color);
  animation: fadeIn 0.25s ease-in forwards;
}

.headingText {
  display: flex;
  justify-content: center;
  color: var(--font-color);
  border: 0.05px solid var(--border-color);
  border-radius: 0.25rem;
  margin: 10px;
  padding: 2rem;
  width: 25rem;
  font-size: smaller;
  font-weight: 600;
}

.operations {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  border: 0.15px solid var(--border-color);
  border-radius: 0.25rem;
  margin: 10px;
  padding: 1rem;
  font-size: medium;
  width: 10rem;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background-color: var(--button-color-hover);
}
