*{
    margin: 0;
    padding: 0;
}

.bg{
    background-color: #070707;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    max-width: 100%;
    flex-wrap: wrap;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: aliceblue;
    font-size: 2em;
    flex-shrink: 1;
    margin: 10px;
  }
  
  .btn {
    border-radius: 100%;
    margin-bottom: 10px;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.768);
  }
  
  #bulbimg {
    width: 100%;
    max-width: 200px;
  }
  
  @media (max-width: 576px) {
    .container {
        display: grid;
      justify-content: center;
      align-items: center;
    }

    h1{
        font-size: 1.5em;
    }
  
    .btn {
        justify-self: auto;
        margin: 0;
    }
  
    #bulbimg {
      width: 100%;
      height: 70%;
      align-self: auto;
    }
  }
  