body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 0;
    padding: 0;
    background-color: black;
}

#clock {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    background-color: tan;
    border-radius: 50%;
}

@media only screen and (orientation: portrait) {
    #clock {
        width: 80vw;
        height: 80vw;
    }
}

@media only screen and (orientation: landscape) {
    #clock {
        width: 80vh;
        height: 80vh;
    }
}

#hours,
#minutes,
#seconds {
    position: absolute;
    left: 50%;
    background-color: black;
    transform-origin: bottom center;
    border-radius: 20%;
    visibility: hidden;
}

#hours {
    width: 3%;
    height: 15%;
    top: 35%;
}

#minutes {
    width: 2%;
    height: 30%;
    top: 20%;
}

#seconds {
    width: 1%;
    height: 40%;
    top: 10%;
}

.number {
    position: absolute;
    width: 20px;
    height: 20px;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
}

@media screen and (max-width: 400px) {
    .number {
        font-size: 1rem;
    }
}

@media screen and (max-height: 400px) {
    .number {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 200px) {
    .number {
        font-size: 0.7rem;
    }
}

@media only screen and (max-height: 200px) {
    .number {
        font-size: 0.7rem;
    }
}