body {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.padding-sm {
  padding: 16px;
}

select,
input {
  padding: 4px;
}

button {
  padding: 12px;
  border-radius: 50px;
  background-color: black;
  color: aliceblue;
}
