body {
  --bg-color: #06113c;
  --text-color: #fff;
  --text-decoration-color: red;
  --border-color: #394867;

  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100dvh;
  padding: 0%;
  margin: 0%;
}

.get-otp {
  margin-top: 100px;
}
.get-otp:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: var(--text-decoration-color);
  color: var(--text-decoration-color);
}

#otp-field {
  border: 1px solid var(--border-color);
  padding: 10px 30px;
  border-radius: 5px;
}

#max-digit {
  height: 40px;
  font-size: larger;
  font-weight: bold;
  border-radius: 10px;
  border: 4px solid var(--border-color);
  outline: none;
}
#max-digit:is(:focus, :active, :hover) {
  outline: none;
  border: 4px solid var(--border-color);
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  border: 5px solid #fff;
  border-radius: 10px;
  padding: 100px 200px;
}

.max-digit-container label {
  font-size: medium;
  text-align: left;
  padding-left: 5px;
}
