body {
  background-color: #5664e6;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  color: #fff;
}

.container {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cricle {
  width: 14px;
  height: 14px;
  background-color: #fff;
  cursor: pointer;
  margin: 8px;
  border-radius: 50%;
  transition: transform 0.3s linear;
}

.cricle.grow {
  transform: scale(2);
}
