#lev
{
     text-align: center;
    margin-top:-50px;
 
}
#level
{
/*    margin-left: 200px;*/
    color: cadetblue;
    margin-bottom: 1px;
    margin-left: 300px;
}
#levelb
{
    padding: 13px;
    margin: 15px 15px 15px 15px;
}
#form
{
   margin-right: auto;
  margin-left: auto;
}
p{
    text-align: center;
}
.time
{
    margin-top: 20px;
    text-align: center;
}
.message
{
    text-align: center;
}