input{
    width : 100%;
}
input[type="range"]::-moz-range-track {
    padding: 0 10px;
    background: repeating-linear-gradient(to right, 
        #ccc, 
        #ccc 10%, 
        #000 10%, 
        #000 11%, 
        #ccc 11%, 
        #ccc 20%);
}
.hide{
    display: none;
}