@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-shadow: 0 0 1rem black;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.49, -0.79, 0.24, 1.07);
}

p {
  font-size: 4rem;
  font-family: "Lobster", sans-serif;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
}
.panel > p:nth-of-type(1),
.panel > p:nth-of-type(3) {
  font-size: 3rem;
}

.panel > p:nth-of-type(1) {
  transform: translateY(-100%) scale(0);
}

.panel > p:nth-of-type(3) {
  transform: translateY(100%) scale(0);
}

.panel1 {
  background-image: url(./img/1.jpg);
}

.panel2 {
  background-image: url(./img/2.jpg);
}

.panel3 {
  background-image: url(./img/3.jpg);
}

.panel4 {
  background-image: url(./img/4.jpg);
}

.panel5 {
  background-image: url(./img/5.jpg);
}

.panel6 {
  background-image: url(./img/6.jpg);
}

.active-panel {
  flex: 5;
}

.active-panel > p:nth-of-type(1) {
  transform: translateY(0%) scale(1);
}
.active-panel > p:nth-of-type(2) {
  font-size: 6rem;
}
.active-panel > p:nth-of-type(3) {
  transform: translateY(0%) scale(1);
}
