*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main__wrapper{
    min-height: 100vh;
    min-width: 100%;
    background: #142850;
}
.heading{
    color: #fcd1d1;
    font-family: 'Cabin', sans-serif;
    font-size: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3.2rem;
    letter-spacing: 5px;

}
.header{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5rem;

}
.header div {
    color: #fcd1d1;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    display: inline-flex;
    
}
.header span{
    color:#0c7b93 ;
    
}

.text__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 4rem;
}

.typing-text{ 
    width: 100%;
    margin-top: 7rem;
    color: #FBFFFE;
    opacity: 0.8;
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: 'Source Sans Pro', sans-serif;

}
.input__wrapper{
    width: 100%;
    margin-top: 2.5rem;
    text-align: center;
}
.inp_box{  
    width: 100%;
    background: none;
    line-height: 1.4rem;
    font-size: 1.4rem;  
    border: none;
    color: #FBFFFE;
    padding-top:1rem;        
    resize: none;
    
}
.inp_box:focus{
    outline: none;
}
.inp_box::placeholder{
    color: #446f9e;
}
.correct_char{
    color: gray;
    opacity: 1;
}
.incorrect_char{
    color: red;
}

.restart__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.restart_btn{
    cursor: pointer;
}
.restart_btn:hover{
    
    background: rgba(0, 0, 0, 0.308);
}

@media (max-width:500px){
    .heading{
        font-size: 1.5rem;
    }
    .header div, span{
        font-size: 1rem;
    }
    .inp_box{
        font-size: 1rem;
    }
    .text__wrapper{
        padding: 0 2rem;
    }
}