body {
    text-align: center;
    background-color: #0e0220;
  }
  
  #level-title {
    font-family: 'Righteous', cursive;
    font-size: 3rem;
    margin: 5%;
    color: #48e0e4;
  }
  
  .container {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .btn {
    margin: 25px;
    display: inline-block;
    height: 120px;
    width: 120px;
    border: 10px solid #1b1b2f;
    border-radius: 20%;
    cursor: pointer;
    outline: none;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .pressed {
    box-shadow: 2px 2px 15px #d7fbf6;
    background-color: grey;
  }
  
  .again {
    padding: 1rem;
    color: #d7fbf6;
    font-family: 'Prompt', sans-serif;
  }
  
  button {
    border: none;
    cursor: pointer;
    padding: 0 0.5rem;
    font-size: 1.3rem;
    font-family: 'Prompt', sans-serif;
    background-color: #f6f578;
    outline: none;
  }
  
  button:hover,
  button:focus {
    box-shadow: 1.5px 1.5px 10px white;
  }
  
  #highestLevel {
    padding: 1rem;
    color: #d7fbf6;
    font-family: 'Prompt', sans-serif;
    display: none;
  }
  
  /* Instructions */
  #instruction {
    position: fixed;
    right: 1rem;
    bottom: 0.5rem;
    color: white;
    border-radius: 100%;
  }
  
  #instruction:hover,
  #instruction:focus {
    cursor: pointer;
    box-shadow: 0.8px 0.8px 5px white;
  }
  
  /* card */
  #card {
    position: fixed;
    width:60%;
    margin:0 auto;
    left: 0;
    right:0;
    height: 50%;
    background-color: white;
    font-family: 'Prompt', sans-serif;
    z-index:1;
    border-radius:10px;
    visibility: hidden;
    transition:0.2s ease-in-out;
  }
  #close{
    font-size:3rem;
    position: absolute;
    cursor: pointer;
    line-height:0.5;
    right: 0.8rem;
    top:0.4rem;
  }
  #card h3{
    border-bottom:1.5px solid #0e0220;
  }
  #card ul{
    text-align:left;
  }
  
  
  /* queries */
  @media screen and (max-width:600px) {
    .container {
      width: 90%;
    }
  
    .btn {
      width: 100px;
      height: 100px;
    }
  
    #level-title {
      font-size: 2.2rem;
    }
    #card{
      width:90%;
      height:60%;
    }
  }