body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.filter-container {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.car {
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

select {
    padding: 5px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Styles for improved aesthetics */
h2 {
    font-size: 20px;
    margin: 10px 0;
}

p {
    font-size: 16px;
    color: #777;
}
