@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: #EFEFB8;
    background: linear-gradient(to right,#30E8BF, #FF8235);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    margin: 0;

}
h1{
    letter-spacing: 3px;
}

.poke-container {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon {
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(100, 100 ,100 , 0.5);
    margin: 10px;
    padding:20px;
    text-align:center;
    transition:0.2s;
    cursor:pointer;
    width:160px;
}
.pokemon:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,1);

}
.pokemon .img-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    height: 120px;
    width: 120px;
    text-align: center;
}

.pokemon .img-container img{
    margin-top: 20px;
    max-width: 90px;
}

.pokeomon .info {
    margin-top:20px;
    z-index:1;
}

.pokemon .number {
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    font-size: 0.8em;
    padding: 5px 10px;
    
}

.pokemon .name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
}
