*{
  color: black;
  text-align: center;
  font-size: 20px;
  margin: 0 0;
  padding: 0;
  font-family: 'Grandstander', cursive;
}

body{
  /* background-image: url("img/4K-Minimal.jpg");
  background-repeat: no-repeat;
  background-size: cover; */

  background-color: #2c0542;
}

h1{
  font-size: 2rem;
  color: ;
  margin-bottom: 20px;
}

form{
  margin-bottom: 20px;
}

h4{
  font-size: 1.3rem;
  color: black;
  margin-bottom: 10px;
}


button{
  margin-bottom: 30px;
  -webkit-text-stroke: 1px black;
  border-radius: 8px;
  padding: 5px;
  width: 25%;
}

p{
  font-size: 1.5rem;
  color: black;
  border: 3px solid lightblue;
  min-height: 30px;
  width: 100%;
  background-color: white;
  -webkit-text-stroke: 1px black;

}

.text{
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  height: auto;
  width: 60%;
  border: 2px solid white;
  border-radius: 8px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  -webkit-text-stroke: 1px black;
}

.text input{
  width: ;
}
