@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap');

*, *:before, *:after {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  border-radius: 0;
}

body {
  display: flex; justify-content: center;
  padding: 20px 0;
  font-family: 'Urbanist', sans-serif;
  background: #f1faee;
  font-size: 1.1rem;
}

input, button {
  font-family: 'Urbanist', sans-serif;
  font-size: 1.1rem;
}

#root {
  padding: 20px;
  width: 500px;
}

#root #input-component {
  display: flex; align-items: center;
  background: #fff;
  padding: 10px 30px;
  border-radius: 4rem;
}

#root #input-component input {
  background: transparent;
  width: 100%;
  padding: 20px 0;
}

#root #input-component button {
  padding: 10px;
  cursor: pointer;
  margin: 0 0 0 20px;
  background: transparent;
  box-shadow: 0 0 20px #eaf0ea;
  border-radius: 2rem;
}

#root #layer-component {
  display: grid; grid-template-columns: 1fr; gap: 1px;
  padding: 20px 20px 0 20px;
}

.list {
  padding: 20px 0;
  display: grid; grid-template-columns: 1fr auto; gap: 20px;
  border-bottom: 1px solid #ccd8c8;
}

.list .time {
  font-size: 0.9rem;
  opacity: 0.7;
  margin: 10px 0 0 0;
}

.list .list-action {
  display: flex; gap: 10px;
}

.list .list-action .btn {
  width: 20px; height: 20px;
  display: flex; justify-content: center; align-items: center;
  background: transparent;
  border-radius: 50%;
  font-size: 0.8rem;
  cursor: pointer;
}

.list .list-action .delete-btn {
  box-shadow: 0 0 10px #ccd8c8;
}