*,*::after,*::before{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background:linear-gradient(to right , rgb(247, 156, 10),rgb(188, 219, 103));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;

    
}

.clock{
    width: 300px;
    height: 300px;
    background-color: rgba(255,255,255,.8);
    border-radius: 50%;
    border: 2px solid black;
    position:relative;
}

.clock .number { 
    --rotation: 0; 
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center; 
    font-size: 1.5rem;
    
    /* background-color: red;  */
    transform: rotate(var(--rotation));

}

.clock .number1 {--rotation:30deg;}
.clock .number2 {--rotation:60deg;}
.clock .number3 {--rotation:90deg;}
.clock .number4 {--rotation:120deg;}
.clock .number5 {--rotation:150deg;}
.clock .number6 {--rotation:180deg;}
.clock .number7 {--rotation:210deg;}
.clock .number8 {--rotation:240deg;}
.clock .number9 {--rotation:270deg;}
.clock .number10 {--rotation:300deg;}
.clock .number11 {--rotation:330deg;}
/* .clock.number1{--rotation:30deg}; */

 .clock .hand{
     --rotation:0;
     position: absolute;
     bottom: 50%;
     left: 50%;
     width: 10px;
     height: 50%;
     border: 1px solid white;
     border-top-left-radius:10px;
     border-top-right-radius:10px;
     background-color: black;
     transform-origin: bottom;
     z-index: 10;
     transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
}
.clock::after{
    content: '';
    position: absolute;
    background-color: black;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);


}
.clock .hand.second{
    width: 3px;
    height: 45%;
    background-color: red;
}
.clock .hand.minute{
    width: 7px;
    height: 40%;
    background-color: black;
}
.clock .hand.hour{
    width: 10px;
    height: 33%;
    background-color: black ;
}