body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    text-align: center;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    max-width: 400px;
}

h1 {
    font-size: 24px;
}

button {
    background-color: rgb(87, 73, 180);
    color: #f2ecec;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.fortune {
    font-size: 18px;
    margin: 20px 0;
}
