@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box: 
}

body {
    font-family: "Sometype+Mono", sans-serif;
    background: #e5d2d28a;
    color : #160b0b
}

section {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display : flex;
    flex-direction: column;
    align-items: center;
}

.title {
        font-size: 3rem;
        margin: 2rem 0rem;
      }

.faq {
max-width: 700px;
margin-top: 2rem;
padding-bottom: 1rem;
border-bottom: 2px solid #ccc;
cursor: pointer;
}

.question {
display: flex;
justify-content: space-between;
align-items: center;
}

.question h3 {
font-size: 1.8rem;
}

.answer p {
padding-top: 1rem;
line-height: 1.6;
font-size: 1.4rem;
}