.home-container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(to left, var(--color-4), var(--color-5));
    padding: 6rem 3.5rem;
    display: flex;
    background-color: rgb(4, 150, 164);
    max-height:200vh;
}