body {
  text-align: center;
  background-color: #6D8299;
}

#level-title {
  font-family: 'Odibee Sans';
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #FF5C58;
}

.green {
  background-color: #B1E693;
}

.blue {
  background-color: #B5DEFF;
}

.yellow {
  background-color: #FFFD95;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
