html {
    background: rgb(36, 36, 36);
    font-family: 'helvetica neue';
    text-align: center;
  }

  body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
  }
h1
{
    color: white;
    text-decoration: solid underline rgba(238, 21, 122, 0.577) 5px;
}
  .clock {
    width: 20rem;
    height: 20rem;
    border: 5px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
      0 0 0 4px rgba(0,0,0,0.1),
      inset 0 0  3px #EFEFEF,
      inset 0 0 10px black,
      0 0 10px rgba(0,0,0,0.2);
  }

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
  }

  .hand {
    width: 50%;
    height: 6px;
    background: rgb(238, 21, 122);
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }

  .min-hand
  {
      width: 42%;
      left:8%;
  }

  .hour-hand
  {
      width: 32%;
      left: 18%;
  }

  .digital
  {
    margin: 50px auto 30px;
    color: white;
    font-size: 3rem;
  }

  .digital span
  {
    background-color: rgba(201, 192, 192, 0.445);
    padding: 10px 10px;
    border-radius: 5px;
  }

  span.colon
  {
    background-color: transparent;
    padding: 0;
  }

  .date
  {
    color: white;
    letter-spacing: 2px;
  }

  