
.content{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  background-image: linear-gradient(to right, #83a4d4, #b6fbff);
  padding: 20px;
  width: 100%;
}

#display{
  width: 100%;
}

#slider{
  width: 100%;
}

#length{
  display: inline-block;
  width: 100px;
}

.previous_passwords{
  margin-bottom: 20px;
}
