body{
    color: aliceblue;
    margin: 0px;
    background-image: url(../Image/light_up_dice_by_androu_d2o6bvq.jpg);
    background-size: center;
}
.starting-div{
width: 50%;
margin: auto;
margin-top: 70px;
text-align: center;
}
.starting-inner-div{
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 4px;
    color: black;
    background-color: rgba(255, 255, 255,0.6);
}
.center-it{
    width: 70%;
    margin: auto;
    text-align: center;
}
.rule{
    border-radius: 10px;
    padding: 9px;
    margin: 30px 0px;
    animation: myanimation 6s infinite;
}
@keyframes myanimation {
    0%{background-color: rgba(248, 248, 248, 0.4);}
    25%{background-color: rgba(7, 226, 255,0.4) ;}
    50%{background-color: rgba(253, 33, 187, 0.4);}
    75%{background-color: rgb(252, 4, 4,0.4);}
    100%{background-color: rgb(193, 14, 248,0.4);}
}
input{
    margin: auto;
    margin-top: 5px;
    display: block;
    text-align: center;
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
}
button{
    display: block;
    margin: auto;
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
button:hover{
    background-color: rgb(165, 199, 73);
}
.otp{
    text-align: center;
    margin: 20px 3px;
    text-shadow: 0px 0px 5px black;
}