body {
    margin: 0px;
    padding: 0px;
    background-color: #597646;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.final {
    width: 300px;
    height: 100px;
    color: white;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: rgb(206, 240, 197);
    border: none;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 500px;
    min-width: 300px;
    max-width: 300px;
    min-height: 500px;
    padding-bottom: 40px;
    box-shadow: 0 4px 16px black;
}

h1 {
    background-color: black;
    color: white;
    width: 100%;
    height: 80px;
    margin: 0;
    border-radius: 12px 12px 0 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

p {
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none;
}

.guesses {
    background-color: #f7fff2;
    padding: 20px 0;
    display: none;
    flex-direction: column;
    max-height: 300px;
    height: 300px;
    overflow-y: scroll;
    width: 100%;
}

span {
    padding: 0 40px;
}

#start {
    background: black;
    color: white;
    border: none;
    border-radius: 6px;
    width: 120px;
    height: 40px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background: white;
    color: #212121;
    border: none;
    border-radius: 6px;
    width: 120px;
    height: 40px;
    font-size: 16px;
    margin: 0 8px;
    box-shadow: 2px 5px rgb(0 0 0 / 20%);
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background: black;
    color: white;
}

.float-left {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: red;
}

.float-right {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: #0088ff
}

