body{
    background-color: #d7bb96;
}
.large{
    display: flex;
    justify-content: center;
    margin-top: 30vh;
}
button{
    border-radius: 41px;
    border: 3px solid black;
    background: bisque;
    width: 200px;
    height: 50px;
    font-size: medium;
}
button:hover{
    background-color: rgb(218, 174, 121);
}
footer{
    margin-top: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    width: 50vw;
    line-height: 40px;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}