body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(6, 98, 160);
}
.player{
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.wrapper{
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(160, 83, 11, 0.829) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.details{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.track-art{
    margin: 25px;
    height: 250px;
    width: 250px;
    border: 2px solid rgb(151, 0, 0);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px rgb(145, 0, 0);
    -webkit-box-shadow:0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px rgb(255, 150, 150);
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    border-radius: 190px;
}
.now-playing{
    font-size: 1rem;
}
.track-name{
    font-size: 2.5rem;
}
.track-artist{
    margin-top: 5px;
    font-size: 1.5rem;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}
.active{
    color: rgb(148, 18, 141);
}
.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track{
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}
.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover{
    opacity: 1.0;
}
.slider_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.seek_slider,
.volume_slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #0b0d11;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #3774ff;
    cursor: pointer;
    border-radius: 100%;
}
.seek_slider:hover,
.volume_slider:hover{
    opacity: 1.0;
}
.seek_slider{
    width: 60%;
}
.volume_slider{
    width: 30%;
}
.current-time,
.total-duration{
    padding: 10px;
}
i.fa-volume-down,
i.fa-volume-up{
    padding: 10px;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward{
    cursor: pointer;
}
.randomActive{
    color: black;
}
.rotate{
    animation: rotation 8s infinite linear;
}
@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
.loader{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader .stroke{
    background: #f1f1f1;
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0px 5px;
    animation: animate 1.4s linear infinite;
}
@keyframes animate{
    50%{
        height: 20%;
        background: #4286f4;
    }
    100%{
        height: 100%;
    }
}
.stroke:nth-child(1){
    animation-delay: 0s;
}
.stroke:nth-child(2){
    animation-delay: 0.3s;
}
.stroke:nth-child(3){
    animation-delay: 0.6s;
}
.stroke:nth-child(4){
    animation-delay: 0.9s;
}
.stroke:nth-child(5){
    animation-delay: 0.6s;
}
.stroke:nth-child(6){
    animation-delay: 0.3s;
}
.stroke:nth-child(7){
    animation-delay: 0s;
}