.grid {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
}

.grid div {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: blue;
}

.apple {
  background-color: purple;
}
