$Mobile: 375px;
$Desktop: 1366px;
$Scissors: hsl(39, 89%, 49%);
$Paper: hsl(230, 89%, 62%);
$Rock: hsl(349, 71%, 52%);
$Lizard: hsl(261, 73%, 60%);
$Cyan: hsl(189, 59%, 53%);
$DarkText: hsl(229, 25%, 31%);
$ScoreText: hsl(229, 64%, 46%);
$HeaderOutline: hsl(217, 16%, 45);
$bg-color:radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
$imagePaper: "../images/icon-paper.svg";
$imageScissors: "../images/icon-scissors.svg";
$imageRock: "../images/icon-rock.svg";