body {
  padding: 0;
  margin: 0;
}

.game {
  border: solid 1px #ddd;
  margin: 0 auto;
  background: #ab6ead;
  border: solid 10px;
  text-align: center;
  min-height: calc(100vh - 20px);
}

.game-started {
  background: #f58ecd;
}

.btn { 
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  background:#222;
  color: white;
}

.btn:hover {
  background: rgb(53, 53, 53);
}

.btn-disabled {
  cursor: default;
  background: rgb(112, 112, 112);
  color: rgb(196, 196, 196);
}

.btn-disabled:hover {
  cursor: default;
  background: rgb(112, 112, 112);
}

.game h1 {
  padding: 10px;
  background: black;
  color: white;
}

.game .game-body {
  padding: 20px;
}

.game .game-options {
  text-align: center;
}

.game .action-buttons {
  margin: 20px 0;
}

.game .status {
  display: none;
  background: gold;
  border: solid 5px white;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 0 auto;
  margin-bottom: 10px;
}


.players, .dealer-container {
  min-width: 200px;
  margin: 0 auto;
  text-align: center;
}

.player, .dealer {
  min-width: 300px;
  border: solid 5px #ffe2f4;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 0;
  display: inline-block;
  vertical-align: top;
  background: #ffe2f4;
}

.dealer-asleep {
  background:#a5a5a5;
  border: solid 5px #a5a5a5;
}

.dealer {
  margin-bottom: 20px;
}

.player.active {
  border: solid 5px #222;
}

.game .card {
  width: 80px;
  height: 100px;
  padding: 40px 20px;
  border: solid 1px #808080;
  background-color: white;
  display: inline-block;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  margin: 3px;
  margin-top: 10px;
  border: solid 3px;
}

.card-red {
  color: red;
}

@media (max-width: 650px) {
  .player, .dealer {
    min-width: 200px;
  }

  .game .card {
    width: 60px;
    height: 60px;
    padding: 20px 5px;
    font-size: 16px;
  }
}

.points {
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
  margin: 10px;
}

.wins {
  margin: 10px;
}

.deck {
  float: left;
  background: white;
  color:#222;
  padding: 10px;
  border-radius: 10px;
  border: double 5px;
}
