* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--color-light: #ebeae6;
	--album-size: 580px;
}
html,
body {
	overflow-x: hidden;
	position: relative;
	font-family: "Bebas Neue", Helvetica Neue, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100vw;
	height: 100vh;
}
header {
	width: 100%;
	padding: 48px 5vw 8px;
	color: var(--color-light);
	display: flex;
	place-content: center;
	font-size: 24px;
	z-index: 100;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
}
section {
	height: 100%;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	margin: 40px 0;
}
.hero-img {
	background-position: center center;
	background-size: cover;
	width: var(--album-size);
	height: 100%;
	aspect-ratio: 1/1;
	position: absolute;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	overflow: hidden;
}
.hero-img:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
.button-container {
	padding: 8px 5vw 24px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}
.nav-arrow {
	font-family: "Cormorant", "Bebas Neue", Helvetica Neue, Arial, sans-serif;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease;
	height: 56px;
	background: none;
	border: none;
	color: var(--color-light);
	opacity: 0.3;
	font-weight: 500;
	text-transform: lowercase;
}
.nav-arrow span {
	width: 80px;
	height: 2px;
	background: var(--color-light);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 32px;
}
.nav-arrow span:before,
.nav-arrow span:after,
.nav-arrow span {
	transition: all 0.3s ease;
}
.nav-arrow span:before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border: 2px solid var(--color-light);
	left: 4px;
	transform: rotate(-45deg);
	border-bottom: none;
	border-right: none;
}
.nav-arrow span:after {
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid var(--color-light);
	right: -14px;
}
.nav-arrow:hover span:before,
.key-press-hover-left span:before,
.key-press-hover-right span:before {
	width: 32px;
	height: 32px;
}
.nav-arrow:hover span:after,
.key-press-hover-left span:after,
.key-press-hover-right span:after {
	width: 48px;
	height: 48px;
	right: -26px;
}
.nav-arrow:hover span,
.key-press-hover-left span,
.key-press-hover-right span {
	width: 72px;
}
.scroll-left:hover span,
.key-press-hover-left span {
	margin-right: 48px;
}
.scroll-right:hover span,
.key-press-hover-right span {
	margin-left: 48px;
}
.scroll-right span {
	margin-left: 32px;
	margin-right: 0;
	transform: rotateY(180deg);
}
.key-press-hover-right span {
	margin-left: 48px;
}
.nav-arrow:hover,
.key-press-hover-left,
.key-press-hover-right {
	opacity: 1;
	cursor: pointer;
	font-size: 22px;
}
h1 {
	font-family: "Cormorant", "Bebas Neue", Helvetica Neue, Arial, sans-serif;
	color: var(--color-light);
	font-size: 96px;
	width: 90vw;
	max-width: 980px;
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	align-items: center;
	font-weight: 500;
	line-height: 130%;
	z-index: 2;
	position: relative;
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
	opacity: 0.8;
	bottom: -20%;
	transform-origin: center;
}
.album-num {
	position: absolute;
	left: 0;
	top: -18px;
	font-size: 32px;
	font-weight: 500;
	line-height: 1;
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
h1 span {
	width: 100%;
}
.album-title {
	text-align: left;
	position: relative;
}
h1 span:last-of-type {
	text-align: right;
}
.emblem-container {
	--emblem-size: 280px;
	height: var(--emblem-size);
	width: var(--emblem-size);
	position: absolute;
	z-index: 2;
	transform: translate(calc(var(--album-size) / 2), -40%);
}
.emblem {
	font-size: 24px;
	color: var(--color-light);
	text-transform: lowercase;
	display: flex;
	align-items: center;
	justify-content: center;
	transform-origin: center center;
	animation: rotating 10s linear infinite;
	height: 100%;
	width: 100%;
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
@keyframes rotating {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
.emblem span {
	position: absolute;
	display: flex;
	height: inherit;
	width: 0;
	justify-content: center;
	align-items: flex-end;
	transform-origin: center center;
	width: 20px;
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}
.emblem,
h1 {
	opacity: 0;
}
h1 {
	transform: translateY(15%);
}
.album-transition {
	animation: 0.6s ease-out album-transition;
}
.show-texts {
	opacity: 1;
	transform: translateY(0px);
	transition-property: opacity, transform;
	transition-duration: 1.4s, 0.5s;
}
.hide-arrow {
	opacity: 0;
	pointer-events: none;
}
.spotify-widget {
	width: var(--album-size);
	z-index: 100;
	margin-bottom: 8px;
}
.spotify-widget iframe {
	border-radius: 12px;
}
@keyframes album-transition {
	from {
		clip-path: inset(0 100% 0 0);
	}

	to {
		clip-path: inset(0 0 0 0);
	}
}
@media only screen and (max-width: 900px) {
	:root {
		--album-size: 80vw;
	}

	.hero-img {
		height: 100%;
	}

	h1 {
		font-size: 80px;
	}
	.spotify-widget {
		margin-bottom: 24px;
	}
}
@media only screen and (max-height: 800px) {

	h1 {
		font-size: 72px;
	}
}
@media only screen and (max-height: 740px) {

	h1 {
		font-size: 64px;
		width: 60vw;
	}
	.emblem-container {
		--emblem-size: 200px;
	}
	.emblem {
		font-size: 20px;
	}
	.button-container {
		padding: 8px 5vw 8px;
	}
	.spotify-widget {
		margin-bottom: 0px;
	}
}
