body {
  background-color: #333;
  color: white;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  background-color: #006699;
  padding: 3rem;
  border-radius: 1rem;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  text-align: center;
}

label {
  font-weight: bold;
}

.character-amount-container {
  display: flex;
  align-items: center;
}

.number-input {
  width: 2rem;
}

.password-display {
  background-color: white;
  color: black;
  padding: 1rem;
  border: 1px solid #333;
  height: 2rem;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  border-radius: 0.5rem;
}

.btn {
  grid-column: span 2;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}

.btn:hover {
  background-color: #ffffff33;
}
