* {
  margin: 0 auto;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  background: #232323;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.main-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

#clock-container {
  border: 1px solid darkcyan;
  padding: 2rem;
  border-radius: 2rem;
}

.diigital-clock {
  width: 20rem;
  height: 20rem;
  position: relative;
  color: aliceblue;
}

.font-lg {
  font-size: 4rem !important;
  font-family: "Roboto", sans-serif;
}

.theme {
  position: fixed;
  top: 15px;
  right: 15px;
}

#moon-icon,
#sun-icon {
  display: none;
}

#progress-container {
  position: fixed;
  width: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(0%);
  bottom: 15px;
}

#progress-bg {
  background-color: rgba(169, 169, 169, 0.548);
  width: 100%;
  border: 1px solid #0274d8cb;
  border-radius: 1rem;
}

#progress-bar {
  width: 1%;
  height: 10px;
  background-color: #0275d8;
  margin: unset;
  border-radius: 1rem;
  display: flex;
  vertical-align: baseline;
  justify-content: flex-end;
}

#current-session {
  color: #0275d8;
  margin: unset;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  line-height: 10px;
  position: absolute;
  left: -22px;
  bottom: 0px;
}

#next-session {
  color: #0275d8;
  margin: unset;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  line-height: 10px;
  position: absolute;
  right: -22px;
  bottom: 0px;
}

#porcentage {
  color: aliceblue;
  margin: unset;
  font-family: "Roboto", sans-serif;
  margin-right: 0px;
  font-size: 1.2rem;
  line-height: 10px;
}

.tippy-box[data-theme~="custom"] {
  font-size: 2rem !important;
  font-family: "Roboto", sans-serif;
}
