* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly
}

input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 1.2rem;
    padding: 0 1rem;
    text-align: center;
}

input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.8)
}

#result div {
    height: 50px;
    width: 100%;
    font-size: 18px;
}

#result div span {
    font-size: 20px;
    font-weight: 600;
}
