$transparent-blue: #e4faff;
$transparent-blue-transparent: rgba(228, 250, 255, 0.5);
$light-blue: #a2e2ef;
$mid-blue: #5fd1d7;
$deep-blue1: #5485cd;
$deep-blue2: #44b4cf;
$deep-blue3: #216fa7;
$deepest-blue: #0d2e6d;
$light-green: #cdf3bf;
$mid-green: #b3f59b;
$mint: #24c4a0;
$pink: #ef9d9d;
$deep-pink: #ef7c7c;

$tetro-blue: #67b0d4;
$tetro-purple: #7a4084;
$tetro-yellow: #f6d42b;
$tetro-pink: #fcbab8;
$tetro-orange: #f9b26c;
