.info-container {
  display: flex;
  flex-direction: column;
  flex: 2; }
  .info-container:after {
    content: " ";
    display: block;
    clear: both; }
  .info-container .info-title {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    color: #fff;
    font-family: monospace; }
    .info-container .info-title.big {
      font-size: 33px; }
    .info-container .info-title.small {
      font-size: 24px; }
  .info-container .info-value {
    color: #fff;
    font-family: monospace;
    text-align: center;
    font-size: 20px; }
  .info-container .next-tetro {
    position: relative;
    min-height: 220px;
    background-color: #a2e2ef; }
    @media screen and (max-width: 451px) {
      .info-container .next-tetro {
        display: none; } }
    .info-container .next-tetro .tetromino {
      position: absolute; }
      .info-container .next-tetro .tetromino .square-block-container {
        position: absolute;
        width: 25%;
        height: 25%; }
        .info-container .next-tetro .tetromino .square-block-container .square-block {
          width: 100%;
          height: 100%; }
  .info-container .score {
    min-height: 165px;
    background-color: #5fd1d7; }
    @media screen and (max-width: 451px) {
      .info-container .score {
        display: none; } }
    .info-container .score .section:nth-of-type(1) {
      margin-top: 10px;
      margin-bottom: 10px; }
  .info-container .control-buttons {
    flex-basis: 35%;
    background-color: #44b4cf; }
    .info-container .control-buttons .start-game {
      text-align: center;
      margin-top: 55px; }
      @media screen and (max-width: 451px) {
        .info-container .control-buttons .start-game {
          margin-top: 10px; } }
      .info-container .control-buttons .start-game .gameStatus-btn {
        width: 70px;
        height: 30px;
        cursor: pointer;
        color: #fff;
        font-weight: 600;
        text-transform: capitalize;
        border: none;
        outline: none;
        border-radius: 20px;
        background-color: #ef9d9d; }
        .info-container .control-buttons .start-game .gameStatus-btn:nth-of-type(1) {
          margin-right: 15px; }
        .info-container .control-buttons .start-game .gameStatus-btn:active {
          background-color: #ef7c7c; }
  .info-container .directions-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px; }
    @media screen and (max-width: 451px) {
      .info-container .directions-control {
        margin-top: 15px;
        padding-bottom: 10px; } }
    .info-container .directions-control .d-btn button {
      width: 38px;
      height: 38px;
      cursor: pointer;
      font-size: 25px;
      color: #216fa7;
      background-color: #cdf3bf;
      border-radius: 0; }
      .info-container .directions-control .d-btn button:not(:nth-of-type(4)) {
        border-right: 1px solid #44b4cf; }
      .info-container .directions-control .d-btn button:active {
        background-color: #b3f59b; }
