<h1>{{title}}</h1>
<header>
    

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>

{{!-- nodemon only runs when file with extension js changes but if you want it for hbs also then runs
nodemon src/app.js -e js,hbs --}}