body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#667eea,#764ba2);
font-family:Arial;
color:white;
}

.container{
text-align:center;
}

.title{
font-size:40px;
margin-bottom:20px;
}

.dice{
font-size:100px;
margin:20px;
}

.btn{
padding:15px 30px;
font-size:18px;
border:none;
border-radius:10px;
background:white;
color:black;
cursor:pointer;
}

.btn:hover{
background:black;
color:white;
}

#result{
margin-top:20px;
font-size:24px;
}
