html, body {
	margin: 0;
	padding: 0;
}

.wrapper {
	background-color: rgb(99, 159, 214);
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 0.4fr 1fr;
}

.title {
	padding-top: 3rem;
	margin-top: 0;
	text-align: center;
}

.generatorWrapper {
	display: grid;
	grid-template-columns: 3fr 1fr;
	width: 20vw;
	height: 2rem;
	justify-self: center;
	grid-gap: 2rem;
}
.outputWrapper {
	background-color: #fff;
	display: grid;
}
#output {
	justify-self: center;
	align-self: center;
}

#output p {
	justify-self: center;
	align-self: center;
}
