body {
   color: #030303;
   font-family: arial;
   max-width: 850px;
   margin: 0 auto;
   padding: 0 16px;
   background: linear-gradient(#ff0808,#fd7011,#fdbd0e);
   display: flex;
   
   flex-direction: column;
   min-height: 100vh
}

.main-content {
   border: 2px solid black;
   padding: 32px;
   margin: 20px;
   border-radius: 8px;
}

footer {
   color: #422f2f;
   border-top: 2px solid #222222;
   margin-top: 16px;
   padding: 16px 0;
}

header {
   margin-top: 16px;
   margin-bottom: 48px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}


h1 {
   font-size: 64px;
   margin-bottom: 16px;
}

header a {
   color: #383737;
   margin-right: 16px;
   text-decoration: none;
   border: 2px solid grey;
   border-radius: 6px;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

header a:hover{
   background-color: #eeeeee;
}

.portrait {
   width: 250px;
}

#form{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

input {
   border: 1px solid #797878;
   padding: 8px;
   border-radius: 4px;
   margin: 4px;
}

button {
   cursor: pointer;
   border: 1px solid #fdeded;
   border-radius: 7px;
   background: #4051e9;
   color: white;
   padding: 8px;
   margin: 4px;
}

#forecast{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px;
}

#table {
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
 }
 
 #table td, #table th {
   border: 1px solid #ddd;
   padding: 8px;
 }
 
 #table tr:nth-child(even){background-color: #f2f2f2;}
 
 #table tr:hover {background-color: #ddd;}
 
 #table th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #04AA6D;
   color: white;
 }

 @media screen and (max-width: 720px) {
   body {
      max-width: fit-content;
      margin: 0px;
   }
   h1 {
      font-size: 34px;
      margin-bottom: 16px;
   }
 }