body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.palette {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.color-card {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hex-code {
    font-size: 16px;
}

#generateButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
}
