@import "./styles/variables.scss";

@import "bootstrap/scss/bootstrap";

@import "./styles/components.scss";

@import "./styles/utils.scss";

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&family=Unbounded&display=swap");
