*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 10px;
    background: #e3f2fd;
}
.wrapper{
    background: #141414;
    border-radius: 20px;
    padding: 35px 40px;
}
.wrapper header{
    color: #b2b2bb;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h2{
    font-size: 36px;
    color: #ff004f;
}
header .column{
    display: flex;
    align-items: center;
}
header .column span{
    font-weight: 500;
    margin-right: 15px;
    font-size: 26px;
}
.volume-slider input{
    accent-color: #ffffff;
    outline: none;
}
.keys-checkbox input{
    width: 60px;
    height: 30px;
    appearance: none;
    background: #4b4b4b;
    outline: none;
    position: relative;
    border-radius: 30px;
    cursor: pointer;
}
.keys-checkbox input::before{
    content: "";
    height: 20px;
    width: 20px;
    top: 50%;
    left: 5px;
    border-radius: inherit;
    position: absolute;
    background: #8c8c8c;
    transform: translateY(-50%);
    transition: all 0.3s;
}
.keys-checkbox input:checked::before{
    left: 35px;
    background: #fff;
}
.piano-keys{
    display: flex;
    margin-top: 40px;
}
.piano-keys .key{
    cursor: pointer;
    list-style: none;
    color: #a2a2a2;
    user-select: none;
    position: relative;
    text-transform: uppercase;
}
.piano-keys .black{
    width: 44px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333,#000);
}
.piano-keys .black.active{
    box-shadow: inset -5px 5px 10px rgba(255,255,255,0.1);
    background: linear-gradient(to bottom, #000, #434343);
}
.piano-keys .white{
    width: 70px;
    height: 230px;
    border-radius: 8px;
    border: 1px solid #000;
    background: linear-gradient(#fff 96%, #eee 4%);
}
.piano-keys .white.active{
    box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}
.piano-keys span{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
.piano-keys .key.hide span{
    display: none;
}


/* css for small screen */
@media screen and (max-width: 815px){
    .wrapper{
        padding: 25px;
    }
    header{
        flex-direction: column;
    }
    header :where(h2,.column){
        margin-bottom: 13px;
    }
    .volume-slider input{
        max-width: 100px;
    }
    .piano-keys{
        margin-top: 20px;
    }
    .piano-keys .key:where(:nth-child(9), :nth-child(10)){
        display: none;
    }
    .piano-keys .black{
        height: 100px;
        width: 4opx;
        margin: 0 -20px 0 -20px;
    }
    .piano-keys .white{
        height: 180px;
        width: 60px;
    }
}

@media screen and(max-width: 615px){
    .piano-keys .key:nth-child(13),
    .piano-keys .key:nth-child(14),
    .piano-keys .key:nth-child(15),
    .piano-keys .key:nth-child(16),
    .piano-keys .key:nth-child(17){
        display: none;
    }
    .piano-keys .white{
        width: 50px;
    }
}