* {
    box-sizing: content-box;
}

.clock {
    position: relative;
    background: linear-gradient(#f5ffff, grey);
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 10%;
    border: 20px solid black;
}

.leg {
    width: 50px;
    height: 0px;
    background-color: black;
    position: absolute;
    border: 10px solid black;
    bottom: -17px;
}

.leg.one {
    transform: rotate(-65deg);
    left: 15%;
}

.leg.two {
    transform: rotate(65deg);
    right: 15%;
}

.num {
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    color: black;
}

#XII {
    top: 0px;
    right: calc(50% - 24px);
}

#III {
    top: 230px;
    right: 0;
}

#VI {
    bottom: 0px;
    right: calc(50% - 18px);
}

#IX {
    top: 230px;
    left: 0;
}

.center {
    width: 38px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    background-color: black;
    border: 1px solid lightgoldenrodyellow;
}

.hour {
    width: 18px;
    height: 100px;
    background-color: black;
    position: absolute;
    border: 1px solid lightgoldenrodyellow;
    bottom: 50%;
    left: calc(50% - 10px);
    transform: rotate(0deg);
    transform-origin: bottom;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1.2);
}

.minute {
    width: 8px;
    height: 150px;
    background-color: black;
    position: absolute;
    border: 1px solid lightgoldenrodyellow;
    bottom: 50%;
    left: calc(50% - 5px);
    transform: rotate(0deg);
    transform-origin: bottom;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1.2);
}

.second {
    width: 4px;
    height: 200px;
    background-color: black;
    position: absolute;
    border: 1px solid lightgoldenrodyellow;
    bottom: 50%;
    left: calc(50% - 3px);
    transform: rotate(0deg);
    transform-origin: bottom;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1.2);
}

.digWindow {
    position: absolute;
    width: 24%;
    height: 1.5em;
    background-color: black;
    color: lightgreen;
    font-size: 1em;
    border: 2px solid lightgoldenrodyellow;
    box-shadow: -0.5px 1px 2px black;
    bottom: 14%;
    left: calc(38% - 1px);
    text-align: center;
    line-height: 1.5em;
    z-index: 0;
}