* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    height: 100vh;
    background: linear-gradient(to right,
    #967b28 0%, #967b28 20%,
    #df9d4f 20%, #df9d4f 40%,
    #af704f 40%, #af704f 60%,
    #97013b 60%, #97013b 80%,
    #14ae2e 80%, #14ae2e 100%);
}

#pallete1,
#pallete2,
#pallete3,#pallete4,#pallete5 {
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 25vh;
}

.container p {
    margin: 5px;
}

.colorizer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 75vh;
    align-items: center;
}

.colorizer .color {
    padding: 100px;
    background-color: transparent;
}


.btn-grad {background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   display: block;
   border-radius: 0.5rem;
   border-color: transparent;
   cursor: pointer;
 }

.btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
