:root {
    --background: #260909;
    /* --background: #09192179; */
    --backgroundLow: #26090979;
    --text: #ffff;
    /* --background: rgb(38, 61, 47); */
    /* --text: #00e91f; */ 
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    
    background: var(--background);
}

.container {
    padding: 10px;
    min-height: 90vh;
    margin-top: 3vh;
    box-shadow: inset 2px 2px 5px var(--text),
    inset -2px -2px 5px var(--text);
    border-radius: 7px;
    text-align: center;
}

.title{
    margin: 20px 0;
    font-size: 4rem;
    font-weight: bolder;
    opacity: 1;
    color: var(--text);
}

.drum{
    width: 150px;
    height: 150px;
    background: var(--background);
    color: var(--text);
    font-size: 3rem;
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
                1px 1px 3px rgba(0, 0, 0, 0.8);
    margin: 10px;
    border-radius: 15px;
    
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: cursive;
}
.w,.s,.j,.l{
    border-radius: 50%;
}
.volumeControl{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#volumeSlider{
    height: 7px;
    width: 200px;
    margin-left: 10px;
    appearance: none;
    background: var(--text);
    border-radius: 7px;
}
#volumeSlider::-webkit-slider-thumb{
    appearance: none;
    width: 22px;
    height: 22px;
    background: var(--text);
    cursor: pointer;
}
.fa{
    color: var(--text);
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
                1px 1px 3px rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 50%;

}

.extraButtons{
    margin-top: 40px;
    width: 100%;
    
}
.extraButtons button{
    height: 50px;
    width: 200px;
    font-family: sans-serif;
    font-size: 18px;
    border: none;
    outline: none;
    background: var(--background);
    color: var(--text);
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
                1px 1px 3px rgba(0, 0, 0, 0.8);
            border-radius: 4px;
}
.extraButtom1{
    margin-left: 2px;
}

#extraButtom2{
    color: var(--background);
    background: var(--text);
}

.pressed{
    opacity: 0.5;
    box-shadow: -1px -1px 3px var(--background);
    border: 4px solid rgb(255, 255, 0);
    box-shadow: -1px -1px 3px yellow,
                1px 1px 3px rgb(248, 248, 2);
}

.changeThemePressed{
    opacity: 0.5;
    box-shadow: -1px -1px 3px var(--background);
    border: 4px solid rgb(255, 255, 0);
    box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.1),
    inset 1px 1px 3px rgba(0, 0, 0, 0.8) !important;
    ;
}
.extraButtom1Pressed{
    box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.1),
    inset 1px 1px 3px rgba(0, 0, 0, 0.8) !important;
    ;
    /* box-shadow: -1px -1px 3px var(--background); */
}

