* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.main {
    width: 100%;
    height: 100vh;
    background: url(../image/sunset-1373171_960_720.webp) center center;
    background-size: cover;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.title {
    margin: 10px;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    text-align: center;
}

.column {
    width: 1000px;
    display: flex;
    justify-content: center;
    color: white;
    /* margin: 10px auto; */
}

.column div {
    width: 250px;
    text-align: center;
}

input {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.7);
    border-color: transparent;
    margin-top: 20px;
    border-radius: 12px;
    height: 50px;
    width: 60%;
    text-align: center;
}