<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=DM+Serif+Display&family=Libre+Baskerville&family=Roboto+Slab:wght@500&family=Work+Sans:wght@500&display=swap" rel="stylesheet">
    <title>Weather Wizard</title>
</head>

<body>
    <div class="top">
        <div class="heading">
            <h1>Weather Wizard</h1>
            <form action="/search" method="POST" class="search">
                <input type="text " placeholder="Enter city" name="search" style="height:50px; width:90%; ">
                <input type="submit" value="search" class="searchbtn">

            </form>

        </div>
    </div>



    <footer class="context">
        Designed by @sneha-thiyagarajan
    </footer>

</body>

</html>