/* Error: Expected expression.
 *    ,
 * 35 |       width: 95git%;
 *    |                    ^
 *    '
 *   sass/pages/_main.scss 35:20  @forward
 *   sass/pages/_index.scss 1:1   @use
 *   sass/style.scss 2:1          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected expression.\a    \2577 \a 35 \2502        width: 95git%;\a    \2502                     ^\a    \2575 \a   sass/pages/_main.scss 35:20  @forward\a   sass/pages/_index.scss 1:1   @use\a   sass/style.scss 2:1          root stylesheet";
}
