body{
    margin:0 0 0 0;
    background: linear-gradient(rgba(27, 63, 141, 0.5), rgba(27, 63, 141, 0.5)), url("https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png");

}

#container{
    width: 100%;
   text-align:center;
   margin-top: 15px;
   
}

#info{
    border: 2px solid black;
   border-radius: 10px;
   background-color: cadetblue;
   width: 50%;
   margin: auto;
   margin-bottom: 15px;
}
canvas{

    border: 2px solid black;
    display: inline;
}

p{
    font-size: 1.5em;
}

button{
    font-size: 1.5em;
    border-radius: 6px;
   
}

