body{
	background-color: #ff00f7;
}

.container{
	width: 100%;
	height: 500px;
	text-align: center;
}

.container > h1{
	font-size: 100px;
}

#input{
	width: 60%;
    height: 40px;
    font-size: 20px;
}

#charcount{
    position: absolute;
    left: 20%;
    font-size: 30px;
    font-weight: bold;
}