* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0A1931;
    font-family: 'Roboto', sans-serif;
}

.header__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-image: linear-gradient(to right, #7C83FD, #FF67E7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 70px;
    font-weight: bold;
}

.header__tag > h1 {
    letter-spacing: 5px;
}

.navigation__panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 30px;
    border-bottom: 2px solid rgb(221, 221, 221);
}

.btn {
    height: 45px;
    width: 100px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    outline: none;
    border: 1px solid #EFEFEF;
    color: #EFEFEF;
    border-radius: 8px;
    font-weight: 400;
    transition: all .1s;
    background-color: transparent;
}

.btn:not(:last-child) {
    margin-right: 10px;
}

.btn:hover {
    background-color: rgb(221, 221, 221);
    color: #000;
}

.active {
    background-color: rgb(221, 221, 221);
    box-shadow: 6px 4px 12px 1px #96BAFF;
    color: #000;
}

.main-panel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.tagname {
    color: #EFEFEF;
}

.input-text {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.input-text-tagname {
    font-size: 30px;
}

.input-area {
    outline: none;
    padding: 15px;
    border-radius: 8px;
    resize: none;
    height: 300px;
    width: 560px;
    font-size: 30px;
}

.output-text {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.output-text-tagname {
    font-size: 30px;
}

.output-area {
    height: 300px;
    width: 560px;
    padding: 15px;
    border-radius: 8px;
    font-size: 30px;
    font-weight: 500;
    background-color: #eeeeee;
}


.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}