@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-bg: #010048;
}

body{
    font-family: 'Orbitron', sans-serif;
    background: var(--main-bg);
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.time{
    font-size: 7vw;
}

.date{
    font-size: 30px;
    color: gray;
}