.grid {
  width: 400px;
  height: 600px;
  background: yellow;
  position: relative;
  font-size: 200px;
  text-align: center;
}

.doodler {
  width: 60px;
  height: 85px;
  background: red;
  position: absolute;
}

.platform {
  width: 85px;
  height: 15px;
  background: green;
  position: absolute;
}
