* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: #6718a8;
	color: whitesmoke;
	display: flex;
} 

.gameContainer {
	width: 600px;
	height: 600px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	perspective: 1000px;
}

.card {
	width: 23%;
	height: 23%;
	margin: 5px;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.3s;
	cursor: pointer;
	background-color: transparent;
}

.card:active {
	transform: scale(0.95);
	transition: transform 0.2s ease-in-out;
}

.card.flip {
	transform: rotateY(180deg);
	cursor: pointer;
}

.back,
.front {
	background-color: #807f7f;
	width: 100%;
	height: 100%;
	padding: 10px;
	border-radius: 4px;
	position: absolute;
	backface-visibility: hidden;
}

.front {
	transform: rotateY(180deg);
}
