*{
    margin:0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
}
.header{
width: 100%;
height: 100vh;
background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(pictures/netflix_1.jpg);
background-size: cover;
background-position: center;
padding: 10px 8%;
position: relative;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.logo{
    width: 150px;
    cursor: pointer;
    
}
nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;

}
.language-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}
.language-btn img{
    height: 15px;
    width: 15px;
    margin-left: 10px;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}
.container h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 600px;
}
.container h3{
    font-weight: 400;
    margin-bottom: 20px;
}
.email-signup{
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}
.email-signup input {
    flex: 1;
    border: 0;
    outline: #fff;
    margin-left: 20px;
}
.email-signup button{
    background-color: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 20px 30px;
}

.feature{
    padding: 50px 12%;
    font-size: 22px;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.textcall{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.imgcall{
    flex-basis: 50%;
    margin-bottom: 20px;
    background-color: transparent;
}
.imgcall img{
    display: block;
    width: 90%;
    margin: auto;
}
.feature h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    
}
/*------------------faq------------------------*/
.faq{
    padding: 10px;
    text-align: center;
    font-size: 18px;
}
.faq h2{
    font-weight: 200px;
    font-size: 28px;
}