body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.yellow{
    background-color: #f99b45;
}

.red{
    background-color: #d95980;
}

.green{
    background-color: #81f99b;
}

.purple{
    background-color: #70a2e4;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: green;
}