body {
    background-color: black;
}

#pacman {
    height: 470px;
    width: 382px;
    border-radius: 5px;
    margin: 20px auto;
}

#shim {
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    visibility: hidden
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: yellow;
}

body {
    width: 342px;
    margin: 0px auto;
    font-family: sans-serif;
}

p {
    text-decoration: none;
    color: #0000FF;
}