/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.label {
    font-size: 18px;
    color: #333;
    display: block;
    text-align: left;
    margin-top: 15px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.results {
    margin-top: 30px;
}

.results h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.results ul {
    list-style-type: none;
    padding: 0;
}

.results li {
    font-size: 16px;
    margin: 5px 0;
    color: #333;
}

/* Responsive design */

@media screen and (max-width: 768px) {
    .container {
        padding: 15px;
    }
}
