{% extends "layout.html" %}

{% block body %}
<style>
    span{
        margin-left: 40px;
    }
</style>
     <div style="margin-left: 5%;">
          <h1>About Click Chat</h1>
          <p>
                <span></span>Click Chat is an instant messaging application developed and designed by Opeoluwa Adeyeri. Click chat started as a final project for
                an online intro to computer science course CS50X.<br> At first Click chat was designed to only support two users, But as time went on and the Developer gathered
                more knowledge abourt web development the structure and features of click chat skyrocketed.
          </p>
          <p>
                <span></span>Click chat is built on Flask Framework and Utilizes languages like Python, SQLite, HTML, CSS, JavaScript and a web template engine Jinja.<br>
                This amazing messenger refreshes by the second connecting users across the world at astonishing speed.
          </p>
          <p>
                <span></span>Currently Click Chat is under development and is getting new features every now and then but Sooner or later Click Chat would take
                its place among the most used instant messaging networks in the world.
          </p>
          <h1>About The Developer</h1>
          <h3>Opeoluwa Adeyeri</h3>
          <p>
               <span></span>I am Opeoluwa Adeyeri, an enthusiastic Copmuter programmer, Full stack developer and an electrical technician.<br>
               I am currently familiar with languages and frameworks like python, C language, HTML, CSS, JavaScript, SQLite, Flask, Linux, Git, Bash Script among others.<br>

               <a href="https://github.com/hardope">Find Me on Github</a>
          </p>
     </div>
{% endblock %}