{% extends "layout.html" %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
{% block body %}
<style>
html {
  scroll-behavior: smooth;
}
    .imessage {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "SanFrancisco";
  font-size: 1.25rem;
  margin: 0 auto 1rem;;
  padding: 0.5rem 1.5rem;
  width: 100%;
}

.imessage p {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 75%;
  padding: 0.5rem .875rem;
  position: relative;
  word-wrap: break-word;
}

.imessage p::before,
.imessage p::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
  align-self: auto;
}

p.from-me {
  align-self: flex-end;
  background-color: #248bf5;
  color: #fff;
}

p.from-me::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #248bf5;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-me::after {
  background-color: #fff;
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform:translate(-30px, -2px);
  width: 10px;
}

p[class^="from-"] {
  margin: 0.5rem 0;
  width: fit-content;
}

p.from-me ~ p.from-me {
  margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:not(:last-child) {
  margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:last-child {
  margin-bottom: 0.5rem;
}

p.from-them {
    align-self: flex-start;
  background-color: #e5e5ea;
  color: #000;
}

p.from-them:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-them::after {
  background-color: #fff;
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}

p[class^="from-"].emoji {
  background: none;
  font-size: 2.5rem;
}

p[class^="from-"].emoji::before {
  content: none;
}

.no-tail::before {
  display: none;
}

.margin-b_none {
  margin-bottom: 0 !important;
}

.margin-b_one {
  margin-bottom: 1rem !important;
}

.margin-t_one {
  margin-top: 1rem !important;
}


/* general styling */
@font-face {
  font-family: "SanFrancisco";
  src:
    url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff2") format("woff2"),
    url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff") format("woff");
}

body {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  font-weight: normal;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 1rem;
}

h1 {
  font-weight: normal;
  margin-bottom: 0.5rem;
}

h2 {
  border-bottom: 1px solid #e5e5ea;
  color: #666;
  font-weight: normal;
  margin-top: 0;
  padding-bottom: 1.5rem;
}

.comment {
  color: #222;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  max-width: 100%;
  padding: 0;
}

@media screen and (max-width: 800px) {
  body {
    margin: 0 0.5rem;
  }

  .container {
    padding: 0.5rem;
  }

  .imessage {
    font-size: 1.05rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    padding: 0.25rem 0.875rem;
  }

  .imessage p {
    margin: 0.5rem 0;
  }
}
</style>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
        function wait(ms){
           var start = new Date().getTime();
           var end = start;
           while(end < start + ms) {
             end = new Date().getTime();
          }
        }

        let username = "{{username}}"
        var list;
        var newlist;
        let url = window.location.origin
        console.log(window.location.origin)

        let request = new XMLHttpRequest();
        request.open("GET", url + "/api/{{recipient}}");
        request.send();
        request.onload = () => {
            if (request.status === 200) {
                let body = document.querySelector('#body');
                list = JSON.parse(request.response);
                newlist = list;
                for (let obj of JSON.parse(request.response)) {
                    if (obj[0] === username ) {
                            var tag = document.createElement('p');
                            tag.textContent = obj[2];
                            tag.setAttribute('class', 'from-me margin-b_none')
                            body.appendChild(tag);
                            var date = document.createElement('h5');
                            var ldate = "" + obj[3] + "";
                            var time = ldate.slice(-8)
                            time = time.slice(0, 5)
                            date.textContent = time
                            date.setAttribute('style', 'font-size: 14px; text-indent: 85%;')
                            body.appendChild(date);
                    } else {
                            var tag = document.createElement('p');
                            tag.textContent = obj[2];
                            tag.setAttribute('class', 'from-them')
                            body.appendChild(tag);
                            var date = document.createElement('h5');
                            var ldate = "" + obj[3] + "";
                            var time = ldate.slice(-8)
                            time = time.slice(0, 5)
                            date.textContent = time
                            date.setAttribute('style', 'font-size: 14px; text-indent: 0%;')
                            body.appendChild(date);
                    }
                }
                window.scrollTo(0, 10000);
            }
        }
        function refresh() {
            let request = new XMLHttpRequest();
            request.open("GET", url + "/api/{{recipient}}");
            request.send();
            request.onload = () => {
                if (request.status === 200) {
                    newlist = JSON.parse(request.response);
                    if (newlist.length > list.length){
                        var count = newlist.length - list.length;
                        for (let i = list.length -1; i < newlist.length-1; i++){
                            if (newlist[i+1][0] === username ) {
                                var tag = document.createElement('p');
                                tag.textContent = newlist[i+1][2];

                                tag.setAttribute('class', 'from-me')
                                body.appendChild(tag);
                                var date = document.createElement('h5');
                                var ldate = "" + newlist[i+1][3] + "";
                                var time = ldate.slice(-8)
                                time = time.slice(0, 5)
                                date.textContent = time
                                date.setAttribute('style', 'font-size: 14px; text-indent: 85%;')
                                body.appendChild(date);
                            } else{
                                var tag = document.createElement('p');
                                tag.textContent = newlist[i+1][2];

                                tag.setAttribute('class', 'from-them')
                                body.appendChild(tag);
                                var date = document.createElement('h5');
                                var ldate = "" + newlist[i+1][3] + "";
                                var time = ldate.slice(-8)
                                time = time.slice(0, 5)
                                date.textContent = time
                                date.setAttribute('style', 'font-size: 14px; text-indent: 0%;')
                                body.appendChild(date);
                            }
                        }
                        list = newlist;
                        window.scrollTo(0, 10000);
                    }
                }
            }
        }
        setInterval(refresh, 1000);
        document.querySelector('#submit').disabled = true;

        document.querySelector('#message').onkeyup = () => {
            if (document.querySelector('#message').value.length > 0){
                document.querySelector('#submit').disabled = false;
            }
            else {
                document.querySelector('#submit').disabled = true;
            }
        }
        document.querySelector('#form').onsubmit = () => {
            let message = document.querySelector('#message').value;
            let newmessage = new XMLHttpRequest();
            newmessage.open("POST", url + "/messages/{{recipient}}:" + message);
            newmessage.send();
            request.onload = () => {
                if (request.status !== 200) {
                    alert("You Are Disconnected...")
                }
            }
            document.querySelector('#message').value = '';
            document.querySelector('#submit').disabled = true;
            return false
        }
    });
    </script>
    <h3 style="text-indent: 40%;" id="recipient">{{ recipient }}</h3>
    <div id="body" class="imessage">

    </div>
    <form id="form">
        <div class="div">
            <input type="text" style="border-radius: 5%; width: 500px; height: 40px" name="message" id="message" autocomplete="off" aria-autocomplete="none" autofocus>
            <input id="submit" type="submit" value="Send">
        </div>
    </form>
{% endblock %}