{% extends "layout.html" %}

<meta name="viewport" content="initial-scale=1, width=device-width">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="/static/style.css" rel="stylesheet">
<meta charset="utf-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% block body %}
{{error}}
     <form action="/login" method="post">
          <section class="u-clearfix u-section-1" id="sec-afdb">
               <div class="u-clearfix u-sheet u-sheet-1">
                 <div class="u-form u-login-control u-form-1">
                     <div class="u-form-group u-form-name">
                       <label for="username-c4f9" class="u-label">Username *</label>
                       <input type="text" name="username" placeholder="Enter your Username" id="username-c4f9" name="username" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                     </div>
                     <div class="u-form-group u-form-password">
                       <label for="password-c4f9" class="u-label">Password *</label>
                       <input type="password" name="password" placeholder="Enter your Password" id="password-c4f9" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                     </div>
                     <div class="u-form-checkbox u-form-group">
                       <input type="checkbox" id="checkbox-c4f9" name="remember" value="On">
                       <label for="checkbox-c4f9" class="u-label">Remember me</label>
                     </div>
                     <div class="u-align-center u-form-group u-form-submit">
                       <a href="register.html" data-page-id="98986827" class="u-btn u-btn-submit u-button-style u-btn-1">&nbsp;Log In<br>
                       </a>
                       <input type="submit" value="submit" class="u-form-control-hidden">
                     </div>
                     <input type="hidden" value="" name="recaptchaResponse">
                     <a href="/register">Create account</a>
                 </div>
               </div>
             </section>
     </form>
{% endblock %}