* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body, html, .wrapper {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

