* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body, html, .wrapper {
    width: 100%;
    height: 100%;
    font-family: monospace;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.timezome-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timezome-wrapper-0 {
    background-color: pink;
}

#timezome-wrapper-1 {
    background: repeating-linear-gradient(
        45deg,
        #B33934,
        #B33934 40px,
        #3C3B6E 40px,
        #3C3B6E 80px
    );
}

#timezome-wrapper-2 {
    background: repeating-linear-gradient(
        45deg,
        #5D9D3A,
        #5D9D3A 40px,
        #FEDF01 40px,
        #FEDF01 80px
    );
}

#timezome-wrapper-3 {
    background: repeating-linear-gradient(
        45deg,
        #E34613,
        #E34613 40px,
        #ffffff 40px,
        #ffffff 80px
    );
}