* {
    box-sizing: border-box;
}

body {
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
    font-style: 16px;
    border-radius: 5px;
    padding: 5px 15px;
}

.settings-btn {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.settings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ecf0f1;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
}

.settings.hide {
    transform: translateY(-100%);
}

select {
    width: 200px;
    padding: 5px;
    border-radius: 0;
    background-color: #ecf0f1;
}

select:focus, button:focus {
    outline: 0;
}

.container {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    text-align: center;
    width: 500px;
}

h2 {
    margin-bottom: 70px;
}

h1 {
    margin: 0;
    margin-top: 20px;
}

input {
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    padding: 10px 20px;
    margin-top: 10px;
}

.score-container {
    position: absolute;
    top: 80px;
    left: 20px;
}

.time-container {
    position: absolute;
    top: 80px;
    right: 20px;
}

.end-game-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    z-index: 1;
}

.end-game-container h1 {
    color: white;
}

.end-game-container p {
    color: white;
}