body {
    margin: 15px 0;
    background-color: rgb(108, 75, 139);

}

/* .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 700px;   
    height: 700px;
    padding: 50px;
} */

.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* width: 70%;
    height: 70%; */
    padding: 50px;
    margin: 0 5%;

}

.search-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-container {
    border-radius: 20px;
    border: none;
    background-color: rgb(117, 112, 151);
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

span {
    font-size: 20px;
}

#userInput {
    border: none;
    outline: none;
    padding: none;
    color: rgb(30, 13, 13);
    font-weight: bold;
    background-color: rgb(117, 112, 151);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 30px;
}

button {
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 20px;
    margin-left: 15px;
    outline: none;
    font-size: 30px;
}

#search-btn {
    background-color: rgb(46, 148, 231);
}

#getNewHero-btn {
    background-color: rgb(51, 152, 142);
}

.container {
    background-color: rgb(31, 18, 44);
    /* width: 230px;
    height: 350px; */
    width: 500px;
    height: 730px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    justify-content: space-evenly;

    color: white;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.img-container {
    margin-top: 10px;
    text-align: center;

}

img {
    width: 450px;
    height: 350px;
    object-fit: contain;
}


/* STATS */
#name {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 60px;
}

#stats {
    margin-top: 10px;
    color: white;
    text-align: center;
}

p {
    text-transform: capitalize;
    font-size: 25px;
}