* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f2938;
}

.card {
  width: 450px;
  max-width: 450px;
  padding: 1rem;
  background-color: #0e162b;
  border-radius: 2px;
}

.scores-text {
  font-size: 0.9rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.2rem;
  padding-bottom: 0.2rem;
}

.title {
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: 1.8rem;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.answer-container {
  width: 100px;
  height: 100px;
  border: 5px solid rgb(234, 154, 6);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.answer-container #answer {
  color: #fff;
  font-size: 1.5rem;
}

#number-guess-form {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.number-input {
  width: 100%;
  margin-bottom: 0.2rem;
}

.number-input input {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
  background-color: #324158;
  color: #fff;
  letter-spacing: 0.2rem;
  border: 1px solid transparent;
  border-radius: 2px;
}

.btn {
  width: 100%;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: lightblue;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: rgb(120, 201, 228);
}

#result-text {
  width: 100%;
  padding: 0.5rem;
  font-weight: 600;
  text-align: center;
  background-color: aqua;
  border-radius: 2px;
}

/* Utils */
.mb-1 {
  margin-bottom: 1rem;
}
