html {
  font-size: 10px;
  font-family: sans-serif;
  background-color: #3aafa9;
}
p {
  font-size: 1.9rem;
  line-height: 1.5;
  font-family: billabong, "billabongregular";
}
h1 {
  font-family: billabong, "billabongregular";
  text-align: center;
  font-weight: 100;
  font-size: 10rem;
  margin: 2rem 0;
  letter-spacing: -1px;
  color: black;
  text-decoration: none;

  width: 500px;
  border: 10px solid black;
  padding: 20px;
  margin: 2rem auto;
}

h1 a {
  color: black;
  text-decoration: none;
}

h1 a:focus {
  outline: 0;
}

@font-face {
  font-family: "billabongregular";
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot");
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff")
      format("woff"),
    url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf")
      format("truetype"),
    url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

button {
  background: red;
  flex-basis: 48%;
  display: inline-block;
  line-height: 2;
  text-decoration: none;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: all 0.5s;
  box-sizing: padding-box;
  border-radius: 10px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.grid-photo-wrap:hover .grid-photo {
  opacity: 0.4;
}

.grid-photo-wrap:hover .middle {
  opacity: 1;
}

.text {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: billabong, "billabongregular";
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}

.grid-figure,
.single-photo {
  flex-basis: calc(28% - 4rem);
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 2rem 2rem 0rem;
  padding: 2rem;
  border: 1px solid #d3d3d3;
  background: #fff;
  position: relative;
}

.single-photo {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  background: #fff;
}

.single-photo .grid-figure {
  margin: 0 2rem 0 0;
  border: 0;
  padding: 0;
  flex: 1 0 60%;
  max-width: 60%;
}

.single-photo .comments {
  flex: 1 0 40%;
  max-width: 40%;
}

.single-photo .grid-photo {
  width: 100%;
  margin: 0;
}

.grid-photo {
  width: calc(100% + 4rem);
  margin-left: -2rem;
  margin-top: -2rem;
  max-width: none;
}

.remove-comment {
  background: none;
  border: 0;
  line-height: 1;
  opacity: 0;
}

.remove-comment:hover {
  color: #f00;
}

.comment {
  width: 100%;
}
.comment p {
  border-bottom: 1px solid #d3d3d3;
  padding: 0.5rem 0;
}
.comment-form input,
.comment-form textarea {
  width: 100%;
  border: 0;
  font-size: 1.3rem;
  padding: 1rem 0;
  border-bottom: 1px solid #d3d3d3;
  outline: none;
  resize: vertical;
}

.grid-photo-wrap {
  position: relative;
}

.remove {
  background-size: contain;
  font-size: 2rem;
  padding: 1rem;
  position: absolute;
  color: red;
  left: 50%;
  top: 50%;
  pointer-events: none;
}
.addpicture {
  background: url("https://icon-library.net/images/add-image-icon-png/add-image-icon-png-15.jpg")
    center no-repeat;
  background-size: contain;
  padding: 40px;
  display: table;
  margin: 20px auto;
  border: none;
}

.control-buttons {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.speech-bubble {
  width: 1.5rem;
  height: 1.25rem;
  background: #00f;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}

.speech-bubble:after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1.25rem 1.25rem 0;
  border-color: transparent #00f transparent transparent;
  top: 30%;
  left: 0;
}

.add-post {
  width: 360px;
  padding: 0 0 0;
  margin: auto;
}
.form input {
  font-family: sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #065784;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 20px;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: black;
}
