body{
    background:url(../assets//library.jpg) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.faq{
    width: 65%;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
}

.faq .faq-title{
    margin-bottom: 15px;
    text-align: center;
}
.question{
    padding : 18px 0px;
    font-size: 22px;
    cursor: pointer;
    border-bottom: 1px solid black;
    position: relative;
}

.question::after{
    content: '+';
    position: absolute;
    right: -5px;
}

 .answer{
    padding-top: 15px;
    font-size: 22px;
    line-height: 1.5;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.active .answer{
    height: 200px;
}

.active .question{
    font-size: 18px;
    transition: 0.5s;
}

.active .question::after{
    content: '-';
    position: absolute;
    right: -5px;
    transition: .5s;
}