.landing-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #0e0e0e;

    h1 {
        text-transform: capitalize;
        color: #fff;
        font-size: 4em;

        @media screen and (max-width: 540px) {
            font-size: 3em;
        }
    }

    img {
        margin-top: 50px;
    }

    .exercise-btn {
        margin-top: 50px;
        text-decoration: none;
        font-size: 2em;
        letter-spacing: 2px;
        text-transform: uppercase;
        background-color: #fff;
        padding: 0.3em 0.6em;
        border-radius: 45px;
        color: #0e0e0e;
        transition: transform 0.5s ease;
        position: absolute;
        top: 60%;

        @media screen and (max-width: 540px) {
            top: 70%;
        }

        &:hover {
            transform: translateY(-5px);
            background-color: #fff;
            color: #0e0e0e;
            border: 2px solid #0e0e0e;
        }
    }
}