body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Keeping the Cinzel font for an elegant touch */
  margin: 0;
  padding: 0;
  background: #1e1e1e; /* Dark Background */
  color: #ffffff; /* Light Text */
}

h1 {
  font-size: 3em;
  color: #ffffff; /* Light Text */
  text-align: center;
  margin-top: 30px;
}
.para {
  text-align: center;
}
p {
  font-size: 1.2em;
}

/* Input Styling */
.input {
  text-align: center;
  margin-bottom: 20px;
}

input {
  font-size: 1.2em;
  padding: 14px;
  width: 80%;
  border: 2px solid #4caf50; /* Accent Green */
  border-radius: 12px;
  box-sizing: border-box;
  background-color: #1e1e1e; /* Dark Background */
  color: #ffffff; /* Light Text */
  box-shadow: 0 0 10px rgba(100, 207, 204, 0.8);
  -moz-appearance: textfield;
  appearance: none;
}
input:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}
input:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
}
::-webkit-input-placeholder {
  -webkit-appearance: none;
  appearance: none;
}

/* Button Styling */
.button {
  text-align: center;
}

button {
  font-size: 1.4em;
  background-color: #4caf50; /* Accent Green */
  color: #ffffff; /* Light Text */
  padding: 14px 28px;
  margin: 0 5px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
}

button:hover {
  background-color: #45a049; /* Slightly darker shade on hover */
  transform: scale(1.05);
}

/* Result Styling */
.result {
  text-align: center;
  margin-top: 20px;
}

ul{
  list-style-type: none;
}
/* List Styling */
#mylist li {
  font-size: 1.2em;
  margin-bottom: 15px;
  padding: 14px;
  border: 2px solid #4caf50; /* Accent Green */
  border-radius: 12px;
  background-color: #1e1e1e; /* Dark Background */
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 1685px;
}

#mylist li:hover {
  background-color: #22540882; /* Slightly darker shade on hover */
  transform: scale(1.02);
  transition: transform 0.3s;
}

/* Footer Styling */
footer {
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
  padding: 15px 0;
  background: #1e1e1e; /* Dark Background */
  color: #ffffff; /* Light Text */
  border-top: 2px solid #4caf50; /* Accent Green */
}
.contact {
  display: flex;
  justify-content: center;
}
