body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('https://images.pexels.com/photos/315938/pexels-photo-315938.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

.form-wrapper {
  background: white;
  padding: 20px 20px;
  width: 360px;
  height: auto;
  text-align: center;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 4px 4px 120px 20px rgba(0, 0, 0, 1);
}

.input-wrapper {
  position: relative;
}

input[type=number] {
  padding: 13px 20px;
  margin-bottom: 12px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 60px;
  border: 1px solid #cccccc;
  outline: none;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
}

input[type=number]:focus {
  border: 2px solid #000000;  
}

.quantity-section {
  position: absolute;
  top: 0;
  right: 0px;
  background: #000000;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  color: white;
  outline: none;
  border: none;
  width: 100px;
}

.submit-btn {
  width: 100%;
  padding: 14px 20px;
  border-radius: 60px;
  background: green;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  transition: 0.4s all ease-in-out;
}

.submit-btn:hover {
  background: rgb(0, 182, 0);
  cursor: pointer;
  transition: 0.4s all ease-in-out;
  box-shadow: 0px 8px 20px 2px rgba(0, 128, 0, 0.4);
}