@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
body{
    font-family: 'Nunito Sans', sans-serif;
}
.nav-bar{
    font-size: 25px;
    font-weight: bold;
    background-color: black;
    color: white;
    font-style: italic;
    margin-bottom: 1rem;
    position: sticky;
    top:0;
}
.select-unit{
    width: 100px;
    height: 40px;
    background: rgba(0,0,0,0.09);
    border: none;
    border-radius: 8px;
    text-align: center;
    max-width: 50w;
}
.inputs{
    height: 40px;
    margin-right: 10px;
    background: rgba(0,0,0,0.09);
    border: none;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    max-width: 50vw;
}
.input-div{
    text-align: left;
    padding-left: 2vw;
}
label{
    font-size: 20px;
    font-weight: bold;
    padding-left: 5vw;
}
.btn{
    font-size: 18px;
    padding: 12px 4vw;
    font-weight: bold;
    border: 1px solid #B1060F;
    color: #B1060F;
    background-color: white;
}
.btn:hover{
    background-color: #B1060F;
    color: white;
}
.rules{
    text-align: center;
    font-size: 18px;
    color: #B1060F;
    font-weight: 600;
}
.alert{
    display: none;
}