.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-form-1 {
  height: 285px;
  margin: 65px 242px 60px 373px;
}

.u-section-1 .u-btn-1 {
  padding: 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 142px;
    margin-left: 273px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 32px;
    margin-left: 163px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    margin-left: 0;
  }
}