.active-btn {
    background: rgba(26, 65, 26, 0.63);
    color: white;
}

body {
    position: relative;
  }
  
  .disable {
    display: none;
  }
  
 .products-sec {
     margin-left: 30%;
     padding: 1rem;
     /* background-color: brown; */
 } 