/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* PAGE STYLE */
html {
	box-sizing: border-box;
	font-size: 16px;
  }
  
  *,
  *:before,
  *:after {
	box-sizing: inherit;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
  }
  
  ol,
  ul {
	list-style: none;
  }
  main{
    width: 56%;
    padding: 0 2rem;
    padding-top: 4rem;
    padding-bottom: 29rem;
    background-color: burlywood;
    margin: 0 auto;
  }
  .container{
    padding-top:4rem;
    padding-bottom: 4rem;
    background-color: rgb(134, 176, 255);
    border-radius: 2rem;
  }
  .header{
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    padding: 2rem;
  }
   input{
    padding: 2rem 32.5rem  2rem 0;
    font-size: 2.4rem;
    border: 3px solid blue;
    border-radius: .6rem;
  } 
  .checkbox{
    margin: 0 2rem;
    padding: 0 3rem;
    font-weight: 900;
  }
 .cross{
  margin-left: 2rem;
  margin-top: .5rem;
  font-size: 1.2rem;
}
li{
  display: flex;
  list-style: none;
  align-items: baseline;
  margin-right: 14rem;
  font-size: 1.8rem;
  padding: .6rem;
}