* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  background: url("https://t4.ftcdn.net/jpg/05/97/49/09/360_F_597490918_dugDbSuqx6YSRmCaYiZJ6pCr37cXK3Rv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  background-color: #ffffff;
  position: absolute;
  width: 31.25em;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
  box-shadow: 0 1.5em 3em rgba(3, 21, 55, 0.3);
}
.title{
  padding: 1.5rem 1rem;
  text-align: center;
  background-color: transparent;
  color: black;
}
.content{
 padding: 3em;
}
.input{
  padding: 1em 0;
}
input{
  cursor: pointer;
}
#userInput {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
  font-size: 1.5em;
  outline: none;
}
.options {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}
select {
  appearance: none;
  width: 8em;
  padding: 0.45em 0.9em;
  font-size: 1.25em;
  letter-spacing: 0.5px;
  cursor: pointer;
  background-color: #9b51e0;
  border: none;
  color: #ffffff;
  background-image: url("arrow.png");
  background-repeat: no-repeat;
  background-size: 1.1em;
  background-position: 6em;
  outline: none;
  border-radius: 0.3em;
}
select::-ms-expand {
  display: none;
}
select option {
  background-color: #ffffff;
  color: #9b51e0;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-size: 1.12em;
}
.selected {
  display: none;
}
.color-inp {
  appearance: none;
  background-color: transparent;
  width: 3.1em;
  height: 3.4em;
  outline: none;
  border: none;
}
.color-inp::-webkit-color-swatch {
  border-radius: 0.3em;
  border: 0.18em solid #191f3f;
}
.color-inp::-moz-color-swatch {
  border-radius: 0.3em;
  border: 0.18em solid #191f3f;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em 0;
}
.box button,
.box a {
  font-size: 1em;
  padding: 0.8em 2em;
  border-radius: 0.5em;
}
.box button:disabled {
  background-color: transparent;
  color: #a3aab6;
  border: 0.18em solid #a3aab6;
}
.box button:disabled:hover{
  background-color: transparent;
  color: #a3aab6;
}
.box button {
  background-color: transparent;
  color: #9b51e0;
  border: 0.18em solid #9b51e0;
  cursor: pointer;
}
.box button:hover{
  background-color: #9b51e0;
  color: white;
}
.box a {
  background-color: #9b51e0;
  color: #ffffff;
  text-decoration: none;
  border: 0.18em solid #9b51e0;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 1.8em;
}
.hide {
  display: none;
}
