#color {
    width: 50rem;
    height: 30rem;
  }
  
  
  h4, h5, p {
    font-family: sans-serif;
    text-align: center;
  }
  
  .container {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }