@font-face {
    font-family: Moranga;
    src: url(./Fonts/moranga.ttf);
}
@font-face {
    font-family: Gilroy;
    src: url(./Fonts/Gilroy-Bold.otf);
}
@font-face {
    font-family: Gilroy;
    src: url(./Fonts/Gilroy-Semibold.otf);
}
@font-face {
    font-family: Gilroy;
    src: url(./Fonts/Gilroy-Medium.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Moranga";
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

#main {
    background-color: #111;
    position: relative;
}


/* Navbar code */


#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 22px;
    /* height: 120px; */
    width: 100%;
    position: fixed;
    top: 2vh;
    overflow: hidden;
    z-index: 99;
    scroll-behavior: smooth;
}

#nav>a {
    display: flex;
    font-size: 2.5vw;
    color: #fff;
    line-height: 2.4vw;
    text-decoration: none;
    width: 10vw;
}

.resume-btn {
    right: 2vmax;
    top: 1vmax;
    z-index: 1111;
    padding: .9vmax 1.5vmax;
    border-radius: 5vmax;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 0 1vmax #FC626A;
    background: linear-gradient(to right, #FE7D84, #FC626A);
    box-shadow: 0 0 0.8vmax #49bff6;
    background: linear-gradient(to right, #45d6e7, #38cdfa);
    transition: 0.5s all;
    cursor: pointer;
}

.resume-btn a {
    font-size: 1.1vmax;
    /* background-color: red; */
    font-family: gilroy;
    font-weight: 600;
}

.resume-btn {
    right: 2vmax;
    top: 1vmax;
    z-index: 1111;
    padding: .9vmax 1.5vmax;
    border-radius: 5vmax;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 0 1vmax #FC626A;
    background: linear-gradient(to right, #FE7D84, #FC626A);
    box-shadow: 0 0 0.8vmax #49bff6;
    background: linear-gradient(to right, #45d6e7, #38cdfa);
    transition: 0.5s all;
    cursor: pointer;
}

.resume-btn a {
    font-size: 1.1vmax;
    /* background-color: red; */
    font-family: gilroy;
    font-weight: 600;
}

.resume-btn-prt {
    right: 2vmax;
    top: 1vmax;
    z-index: 1111;
    padding: .9vmax 1.5vmax;
    border-radius: 5vmax;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 0 1vmax #FC626A;
    background: linear-gradient(to right, #FE7D84, #FC626A);
    box-shadow: 0 0 0.8vmax #49bff6;
    background: linear-gradient(to right, #45d6e7, #38cdfa);
    transition: 0.5s all;
    cursor: pointer;
    display: none;
}

.resume-btn-prt a {
    font-size: 1.1vmax;
    /* background-color: red; */
    font-family: gilroy;
    font-weight: 600;
}

#nav h5 {
    font-size: 1.3vw;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    margin-right: 1vw;
    letter-spacing: 1px;
    font-family: gilroy;
}

#nav svg {
    height: 5.1vw;
    cursor: pointer;
    border-radius: 50%;
    /* margin-left: 4.1vw; */
}

/* Navbar responsive  */

@media (max-width:600px) {
    html,body{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    #nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 19px;
        /* height: 120px; */
        width: 100%;
        position: fixed;
        top: 2vh;
        overflow: hidden;
        z-index: 99;
        scroll-behavior: smooth;
    }

    #nav>a {
        font-size: 8vw;
        color: #fff;
        line-height: 7vw;
        text-decoration: none;
        width: 10vw;
    }

    .resume-btn {
        display: none;
    }


    #nav h5 {
        font-size: 1.3vw;
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;
        margin-right: 1vw;
        letter-spacing: 1px;
        font-family: gilroy;
    }

    #nav svg {
        height: 12.1vw;
        cursor: pointer;
        border-radius: 50%;
        margin-left: 7.1vw;
    }

    .resume-btn-prt {
        padding: 1.6vmax 2.6vmax;
        /* margin-right: 15vw; */
        display: flex;
        align-items: center;
        cursor: pointer;
        /* position: relative; */
       
    }

    .resume-btn-prt a {
        font-size: 2.5vmax;
        /* background-color: red; */
        font-family: gilroy;
        font-weight: 600;
    }


}




/* ------Page 1 code----- */





#page1 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
}

#page1 h1 {
    font-size: 3.5vmax;
    margin-bottom: 2.5vmax;
}

#image-div {
    height: 67vmin;
    width: 70vmax;
    /* border-radius: 50%; */
    /* background-color: red; */
    overflow: hidden;
}

#image-div img {
    object-fit: cover;
    object-position: center;
    height: 109%;
    width: 100%;
}

#image-div2{
    display: none;

}



/* ----Page1 responsive---- */





@media (max-width:600px) {
    #page1 {
        min-height: 77vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        /* background-color: red; */
        position: relative;
    }

    #page1 h1 {
        padding-top: 25vw;
        font-size: 5.6vmax;
        margin-bottom: 2.5vmax;
        text-align: center;
        
    }

    #image-div2{
        display: block;
       
        

    }

    #image-div {
        height: 4vmax;
        width: 50vw;
        /* border-radius: 50%; */
        /* background-color: red; */
        overflow: hidden;
        margin-bottom: 1vmax;
        /* width: 78vw; */
        /* clip-path: ellipse(40% 50% at 50% 50%); */
        
    }

    #image-div img {
        object-fit: cover;
        object-position: bottom;
        height: 105%;
        width: 100%;
        display: none;
    }

}



/* ------Page2 code------ */



#page2 {
    min-height: 100vh;
    width: 100%;
    padding-top: 10vh;
    position: relative;
}

#name-div {
    width: 100%;
    white-space: nowrap;
    position: relative;
    overflow-x: auto;
    margin-bottom: 13vh;
    overflow-y: hidden;
}

#name-div::-webkit-scrollbar {
    display: none;
}

#name-div h1 {
    font-size: 8vw;
    /* background-color:yellow; */
    margin-right: 2vw;
    display: inline-block;
    /* animation-name: namemoving; */
    /* animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
}

@keyframes namemoving {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - 2vw - 4px));
    }
}

#intro-div {
    text-align: center;
    width: 80%;
    padding-top: 4vh;
    padding-bottom: 10vh;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
}

#intro-div h1 {
    word-spacing: 0.2vw;
    letter-spacing: 0.01vw;
    font-size: 4.4vw;
    line-height: 6.3vw;
}

#intro-div h1 a {
    text-decoration: underline;
}


#intro-div #prof {
    height: 80px;

    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vmax;
    margin-left: auto;
    margin-right: auto;
}

#intro-div a img {
    height: 6.8vmax;
    /* background-color: blue; */
}




/* ----Page2 responsive----- */




@media (max-width:600px) {

    #page2 {
        min-height: 100vh;
        width: 100%;
        padding-top: 2vh;
        position: relative;
    }

     #name-div {
        width: 100%;
        white-space: nowrap;
        position: relative;
        overflow-x: auto;
        margin-bottom: 10vh;
        /* background-color: red; */
        overflow-y: hidden;
    } 

    #name-div::-webkit-scrollbar {
        display: none;
    }

    #name-div h1 {
        font-size: 14.6vw;
       
        margin-right: 2vw;
        display: inline-block;
    }

    #name-div h1{
        /* display: none; */
    }
    

    #intro-div {
        text-align: center;
        width: 90%;
        padding-top: 2vh;
        padding-bottom: 8vh;
        /* background-color: red; */
        margin-left: auto;
        margin-right: auto;
    }

    #intro-div h1 {
        word-spacing: 0.6vw;
        letter-spacing: 0.01vw;
        font-size: 8vw;
        font-weight: 100;
        line-height: 11.8vw;
        
    }

   

    #intro-div #prof {
        height: 75px;
        width: 70%;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5vmax;
        margin-left: auto;
        margin-right: auto;
        
    }

    #intro-div a img {
        
        /* margin-left: -10px; */
        height: 11vmax;
        /* background-color: blue; */
        margin: 0 -4vw;
        
    }

}



/* -----Page3 code------ */



#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #222;
    padding: 7vh 5.1vw;
    position: relative;
}

#page3>h3 {
    font-size: 4.8vmax;
    font-family: gilroy;
    margin-bottom: 0vmax;
}

#page3>h3 span {
    font-size: 4.8vmax;
    font-family: gilroy;
    color: #38cdfa;
}

#page3>h5 {
    font-size: 2.2vmax;
    font-family: gilroy;
    margin-bottom: 1.4vmax;

}

.box h4 {
    font-size: 2vmax;
    border: 2px solid white;
    display: inline-block;
    font-family: gilroy;
    color: #fff;
    font-weight: 500;
    padding: 6px 14px;
    border-radius: 7px;
    margin-top: 6vmax;
    margin-bottom: 1.6vmax;
}


.box img {
    height: 5vmax;
    margin-right: 12px;
    background-color: #fff;
    padding: 5px;
    position: relative;
    border-radius: 8px;
}

.des-box img {
    height: 6vmax;
    margin-right: 1.4vmax;
}



/* ----Page3 responsive---- */



@media (max-width:600px) {


    #page3 {
        min-height: 67vh;
        width: 100%;
        background-color: #222;
        padding: 5vh 5.1vw;
        position: relative;
    }

    #page3>h3 {
        font-size: 5.7vmax;
        font-weight: 700;
        font-family: gilroy;
        margin-bottom: 0vmax;
    }

    #page3>h3 span {
        font-size: 5.7vmax;
        font-weight: 800;
        font-family: gilroy;
        color: #38cdfa;
    }

    #page3>h5 {
        font-size: 4.2vmax;
        font-family: gilroy;
        font-weight: 500;
        margin: 2.2vmax 0;

    }

    .box h4 {
        font-size: 4.1vmax;
        border: 2px solid white;
        display: inline-block;
        font-family: gilroy;
        color: #fff;
        font-weight: 700;
        padding: 6px 10px;
        border-radius: 7px;
        margin-top: 7vmax;
        margin-bottom: 4vmax;
    }


    .box img {
        height: 11.8vmax;
        margin-right: 5px;
        background-color: #fff;
        padding: 4px;
        position: relative;
        border-radius: 7px;
        margin: 1.8vw;
    }

    .des-box img {
        height: 11.8vmax;
        margin-right: 5px;
        margin: 1.7vw;
    }

    .des-box{
        margin-top: 6vw;
        margin-bottom: 8vw;
    }


}



/* ----Page4 code----- */



#page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #333;
    position: relative;
    padding: 5vh 4vw;
   
}

#page4>h2 {
    font-size: 3.7vmax;
    font-weight: 600;
    font-family: gilroy;
}

#page4>h2 span {
    font-size: 3.7vmax;
    font-weight: 600;
    font-family: gilroy;
    color: #FC626A;
}

#page4>h4 {
    font-size: 1.85vmax;
    font-weight: 500;
    margin-bottom: 3vmax;
    font-family: gilroy;
}

#work-sample {
    background-color: #fff;
    /* border: 3px solid #fff; */
    height: 76vh;
    margin-bottom: 4vmax;
    display: flex;
    border-radius: 10px;
    padding: 2vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#work-sample img {
    height: 13vmax;
    box-shadow: 1px 7px 20px rgba(0, 0, 0, 0.4);
}

#page4>a {
    display: block;
    text-align: right;
    /* background-color: red; */
    margin-bottom: 3vmax;
    padding: 0 1vw;
}

#page4>a img {
    height: 4.2vmax;
}



/* ----page4 responsive---- */



@media (max-width:600px) {

    #page4 {
        min-height: 100vh;
        width: 100%;
        background-color: #333;
        position: relative;
        padding: 4vh 4.9vw;
       margin-bottom: 10vw;
    }

    #page4>h2 {
        font-size: 5.4vmax;
        font-weight: 600;
        font-family: gilroy;
        /* background-color: red; */
    }

    #page4>h2 span {
        font-size: 5.4vmax;
        font-weight: 600;
        font-family: gilroy;
        color: crimson;
    }

    #page4>h4 {
        font-size: 3.5vmax;
        font-weight: 500;
        margin-bottom: 5vmax;
        font-family: gilroy;
    }

    #work-sample {
        background-color: #fff;
        /* border: 3px solid #fff; */
        height: 120vh;
        margin-bottom: 4.8vmax;
        display: flex;
        border-radius: 20px;
        padding: 2vh 1.5vh;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    #work-sample img {
        height: 30vw;
        margin: 4vw 2px;
        box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    #page4>a {
        display: block;
        text-align: right;
        /* background-color: red; */
        margin-bottom: 1vmax;
        padding: 0 1vw;
    }

    #page4>a img {
        height: 8.5vmax;
        
    }

    .height{
        height: 40vw;
    }


}



/* ----page6 code---- */




#page6 {
    background-color: #222;
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 4.5vh 4.2vw;
}

#page6 h1 {
    /* text-align: center; */
    font-size: 4.6vmax;
    font-family: gilroy;
    margin-top: 1vmax;
    margin-bottom: 3.5vmax;
}

#page6 h1 span {
    color: #F6BA53;
    font-family: gilroy;
}

#artworks a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: 72px;
    border-top: 2px solid #fff;
    padding: 0 3px;
}

#artworks a:nth-last-child(1) {
    border-bottom: 2px solid #fff;
    margin-bottom: 5vmax;
}

#artworks a h4 {
    font-size: 1.7vmax;
    position: relative;
    z-index: 99;
    transition: color ease-in 0.4s;
    width: 12%;
}

#artworks a h5 {
    font-size: 1.8vmax;
    font-weight: 600;
    font-family: gilroy;
    width: 30%;
    position: relative;
    transition: color ease-in 0.4s;
    z-index: 99;
}

#artworks a h6 {
    font-size: 1.6vmax;
    width: 30%;
    text-align: right;
    position: relative;
    z-index: 99;
    transition: color ease-in 0.4s;
}

#sliding-div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 9;
    width: 0%;
    transition: width cubic-bezier(0.19, 1, 0.22, 1) 1.3s;
    background-color: #fff;
}


#artworks a:hover #sliding-div {
    width: 100%;
}

#artworks a:hover h4 {
    color: #222;
}

#artworks a:hover h5 {
    color: #222;
}

#artworks a:hover h6 {
    color: #222;
}




/* ----page6 responsive---- */



@media (max-width:600px) {
    #page6 {
        background-color: #222;
        min-height: 100vh;
        width: 100%;
        position: relative;
        padding: 4.5vh 4.7vw;
    }

    #page6 h1 {
        /* text-align: center; */
        font-size: 6vmax;
        font-family: gilroy;
        margin-top: 0vmax;
        margin-bottom: 5vmax;
    }

    #page6 h1 span {
        color: #F6BA53;
       
        font-family: gilroy;
    }

    #artworks a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;
        height: 120px;
        border-top: 2px solid #fff;
        padding: 0 2px;
    }

    #artworks a:nth-last-child(1) {
        border-bottom: 5px solid #fff;
        margin-bottom: 5vmax;
    }

    #artworks a h4 {
        font-size: 4vmax;
        position: relative;
        z-index: 99;
        transition: color ease-in 0.4s;
        width: 18%;
        /* background-color: red; */
    }

    #artworks a h4:hover{
        color:#49bff6 ;

    }

    #artworks a h5 {
        font-size: 3vmax;
        font-weight: 600;
        font-family: gilroy;
        width: 33%;
        /* background-color: red; */
        position: relative;
        transition: color ease-in 0.4s;
        z-index: 99;
    }

    #artworks a h6 {
        font-size: 2vmax;
        width: 29%;
        text-align: right;
        /* background-color: red; */
        position: relative;
        z-index: 99;
        font-family: gilroy;
        transition: color ease-in 0.4s;
        text-decoration: underline;
    }

    #sliding-div {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 99;
        width: 0%;
        transition: width cubic-bezier(0.19, 1, 0.22, 1) 1.3s;
        background-color: #fff;
    }


    #artworks a:hover #sliding-div {
        width: 100%;
    }

    #artworks a:hover h4 {
        color: #222;
    }

    #artworks a:hover h5 {
        color: #222;
    }

    #artworks a:hover h6 {
        color: #222;
    }

}



/* -------page5--------------- */

.page5 {
    width: 100%;
    height: 110vh;
    padding: 0 2vmax;
    margin-top: 0vh;
    background-color: #393939;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.page5>h1 {
    font: 700 9vmax "Gilroy";
    font-weight: 900;
}

.mail {
    color: #FC626A;
}

.mail a {
    font-family: gilroy;
}

.instagram a {
    font-family: gilroy;
}

.linkedin a {
    font-family: gilroy;
}

.instagram {
    color: #F6BA53;
}

.linkedin {
    color: #51CDE7;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax 0;
    font-family: gilroy;
    font-weight: 600;
    font-size: 1.5vmax;
    /* font: normal 1.2vmax "Mont"; */
}

footer span {
    font-family: gilroy;
}

.author {
    /* font-size: 4vmax; */
    font-family: monument;
}

.author a {
    /* font-size: 4vmax; */
    color: #FC626A;
}

footer>img {
    width: 1.8vmax;
    margin: 0 .5vmax;
}

/* ----------------- for all----------------- */
a {
    color: inherit !important;
    text-decoration: none;
    transition: .5s all;
}

.page5 a:hover {
    text-decoration: line-through;
}

@media (max-width:600px) {
    .page5>h1 {
        font-size: 8.4vmax;
    }

    footer {
        font-size: 2vmax;
        margin-top: 10vmax;
    }

    .author {
        font-size: 5vmax;
    }

    footer>img {
        width: 3vmax;
    }
}