body{
    background-image: linear-gradient(45deg, #43cea2, #185a9d);
    height: 1000px;
}
#counter-value{
    width: 55%;
    margin: auto;
    /* background-color: blue; */
    height: 150px;
    background-image: linear-gradient(45deg,#22416c, #5b84bc);
}

#counter-value p{
    text-align: center;
    color: #a9b1c4;
    font-size: xx-large;
}

#input-range{
    width: 100%;
    text-align: center;
    height: 51%;
    padding-top: 40px;
}

#number{
    /* border-radius: 50px; */
    margin-right: 142px;
    width: 150px;
    height: 20px;
    background-color: #aeaaca;
    box-shadow: 0 0 8px 2px #0d1830;
    border: 1px solid #ffffff05
}

#input-range button{
    color: black;
    border-radius: 17px;
    box-shadow: 0 0 10px 2px #172241;
    background-color: #aeaaca;
    border: 1px solid #ffffff05
}

#counter-container{
    width: 35%;
    background-color: #4b473ec7;
    margin: auto;
    margin-top: 100px;
    height: 130px;
    text-align: center;
}

.counter{
    height: 100px;
    width: 100px;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 0px 15px 0px 15px;
    display: inline-block;
}

.counter p{
    height: 100%;
    width: 100%;
    background-color: #a8adcc;
    text-align: center;
    border-top: 2px solid black;
    font-size: xx-large;
    padding-top: 14px;
    box-shadow: 0 0 6px 1px white;
}

.next{
    position: absolute;
    top: 100px;
}

.animate{
    top: 0px;
    transition: all 0.5s;
}