body
{
	background: url(math.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#calculator
{
	background-color: snow;
	box-shadow: 0 0 10px grey ;
	border-width: 1px;
	border-radius: 5px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-left: 20px;
	
}
button
{
				outline: none ! important;
}
#problem
{
	height:100px;
	text-align: right;
	margin-right: 20px;
	font-size: 25px;
}
#preview
{
	height:50px;
	text-align: right;
	margin-right: 20px;
	font-size: 20px;
	opacity: 0.5;
}
#keyboard
{
	height:auto;
}
.number, .operator, .extra
{
	float: left;
	margin-right: 10px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: none;
	font-weight: bold;
}
.number
{
	background-color: snow;
}

.number:active, .operator:active, .extra:active
{
	font-size: 10px;
	font-weight: bold;
}
.number:hover, .operator:hover, .extra:active
{
	cursor: pointer;
}
.number:focus, .operator:focus, .extra:active
{
	outline: none !important;
}
#clear, #backspace
{
	background-color: lightgrey;
}
#percentage
{
	background-color: lightsalmon;
}
#d\/
{
	background-color: palegoldenrod;
}
#m\*
{
	background-color: pink;
}
#m\-
{
	background-color: paleturquoise;
}
#p\+
{
	background-color: sandybrown;
}
#equals
{
	background-color: lightgreen;
}
#ans
{
	background-color: #C5B358;
}
#point
{
	background-color: navajowhite;
}
