html {
  background: #018ded url(http://unsplash.it/1500/1000?image=881&blur=1);
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 10%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
}

.hour-hand {
  border: #018ded solid;
  width: 50%;
  height: 10px;
  background: rgb(66, 173, 119);
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
}

.min-hand {
  border: #efefef solid;
  width: 50%;
  height: 7px;
  background: rgb(135, 68, 223);
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
}

.second-hand {
  background: blue;
  width: 50%;
  height: 6px;
  background: blue;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
