/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --primaryBodyColor: #E3F2FD;
    --primarycolor:#fff;
    --buttoncolor:#5372F0;
    --buttoncolor2:#6C757D;
    --bordercolor:#ccc;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: var(--primaryBodyColor);
}
.container{
  width: 80vw;
  padding: 30px 35px 35px;
  background: var(--primarycolor);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.container.disable .editor-panel,
.container.disable .extrafilter,
.container.disable .controls .reset-filter,
.container.disable .controls .save-img{
  opacity: 0.5;
  pointer-events:none;
}
.container h2{
  margin-top: -8px;
  font-size: 22px;
  font-weight: 500;
}
.container .wrapper{
  display: flex;
  margin: 20px 0;
  min-height: 335px;
}
.wrapper .editor-panel{
  padding: 15px 20px;
  width: 280px;
  border-radius: 5px;
  border: 1px solid var(--bordercolor);
}
.editor-panel .title{
  display: block;
  font-size: 16px;
  margin-bottom: 12px;
}
.editor-panel .options, .controls{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.editor-panel button{
  outline: none;
  height: 40px;
  font-size: 14px;
  color: var(--buttoncolor2);
  background: var(--primarycolor);
  border-radius: 3px;
  margin-bottom: 8px;
  border: 1px solid #aaa;
}
.editor-panel .filter button{
  width: calc(100% / 2 - 4px);
}
.editor-panel button:hover{
  background: #f5f5f5;
}
.filter button.active{
  color: var(--primarycolor);
  border-color: var(--buttoncolor);
  background: var(--buttoncolor);
}
.filter .slider{
  margin-top: 12px;
}
.filter .slider .filter-info{
  display: flex;
  color: #464646;
  font-size: 14px;
  justify-content: space-between;
}
.filter .slider input{
  width: 100%;
  height: 5px;
  accent-color: var(--buttoncolor);
}
.editor-panel .rotate{
  margin-top: 17px;
}
.editor-panel .rotate button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 3px);
}
.rotate .options button:nth-child(3),
.rotate .options button:nth-child(4){
  font-size: 18px;
}
.rotate .options button:active{
  color: var(--primarycolor);
  background: var(--buttoncolor);
  border-color: var(--buttoncolor);
}
.extrafilter{
  margin-bottom: 30px;
  font-size: 14px;
  cursor: pointer;
}
#checkop{
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
}
#checkop:checked ~ .extraoptions{
  display: flex;
}
.extraoptions{
  width: 100%;
  display: none;
  align-items: center;
  border: 1px solid var(--bordercolor);
  border-radius: 5px;
  /* justify-content: space-between; */
  padding: 10px 0px;
}
.resize,.quality{
  width: 50%;
}

/* code for hide number up-down arrow */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.width,.height{
  margin: 10px 5px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.width label{
  margin-right: 20px;
}
.height label{
  margin-right: 15px;
}
#width,#height{
  width: 75px;
  height: 30px;
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
}
.quality{
  max-width: 400px;
}
.qualityindex{
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.qualityvalue input{
  width: 80%;
  height: 5px;
  accent-color: var(--buttoncolor);
}
.wrapper .preview-img{
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  margin-left: 20px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
.preview-img img{
  max-width: 490px;
  max-height: 335px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.controls button{
  padding: 11px 20px;
  font-size: 14px;
  border-radius: 3px;
  outline: none;
  color: var(--primarycolor);
  cursor: pointer;
  background: none;
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.controls .reset-filter{
  color: var(--buttoncolor2);
  border: 1px solid var(--buttoncolor2);
}
.controls .reset-filter:hover{
  color: var(--primarycolor);
  background: var(--buttoncolor2);
}
.controls .choose-img{
  background: var(--buttoncolor2);
  border: 1px solid var(--buttoncolor2);
}
.controls .save-img{
  margin-left: 5px;
  background: var(--buttoncolor);
  border: 1px solid var(--buttoncolor);
}
footer{
    width: 100vw;
    height: 50px;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer h4{
    color: var(--primarycolor);
    
}

@media screen and (max-width: 760px) {
  .container{
    padding: 25px;
  }
  .container .wrapper{
    flex-wrap: wrap-reverse;
  }
  .wrapper .editor-panel{
    width: 100%;
  }
  .wrapper .preview-img{
    width: 100%;
    margin: 0 0 15px;
  }
  .reset-filter{
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 500px) {
  .controls button{
    width: 100%;
    margin-bottom: 10px;
  }
  .controls .row{
    width: 100%;
  }
  .controls .row .save-img{
    margin-left: 0px;
  }
  .reset-filter{
    /* margin-bottom: 10px; */
    margin-right: 0px;
  }
  .extraoptions{
    flex-direction: column;
  }
  .resize,.quality{
    width: 100%;
  }
  .quality{
    width: 100%;
    margin-left: 40px;
    margin-top: 20px;
  }
}