html {
    font-family: sans-serif;
}

body {
    width: 50%;
    max-width: 750px;
    min-width: 480px;
    margin: 0 auto;
}

.lastResult {
    color: white;
    padding: 7px;
}

.guesses {
    color: white;
    padding: 7px;
}

button {
    background-color: purple;
    color: #fff;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    font-size: 30px;
    border-style: none;
    margin-top: 30px;
    /* margin-left: 50px; */
}

#subt {
    background-color: yellow;
    color: #000;
    width: 350px;
    height: 50px;
    border-radius: 25px;
    font-size: 30px;
    border-style: none;
    margin-top: 50px;
    /* margin-left: 75px; */
}

#guessField {
    color: #000;
    width: 550px;
    height: 100px;
    font-size: 30px;
    border-style: none;
    margin-top: 25px;
    font-size: 45px;
    /* margin-left: 50px; */
    border: 5px solid #14727d;
    text-align: center;
}

#guess {
    font-size: 55px;
    /* margin-left: 90px; */
    margin-top: 120px;
    color: #fff;
}

.guesses {
    background-color: #12aab4;
}

#wrapper {
    box-sizing: border-box;
    text-align: center;
    width: 750px;
    height: 550px;
    background-color: #12aab4;
    color: #fff;
    font-size: 25px;
}

h1 {
    background-color: #7b3056;
    color: #fff;
    text-align: center;
    width: 750px;
}

p {
    font-size: 20px;
    text-align: center;
}