.stopWatchWrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0e0e0e;
    position: relative;
    overflow: hidden;

    .github {
        position: absolute;
        background-color: #fff;
        top: 28px;
        right: -85px;
        padding: 0.3em 5.8em;
        transform: rotate(45deg);

        a {
            text-transform: capitalize;
            font-weight: bold;
            color: #cc480c;
            text-decoration: none;
        }
    }

    #stopWatch {
        color: #cc480c;
        font-size: 4em;
    }

    .stopWatchBtns {
        margin-top: 50px;
        display: flex;
        width: 70%;
        justify-content: space-evenly;

        button {
            font-size: 1.4em;
            border-radius: 45px;
            padding: 0.3em 0.8em;
            outline: none;
            cursor: pointer;
            transition: transform 0.5s ease;

            &:hover {
                transform: translateY(-5px);
                color: #cc480c;
            }
        }
    }
}