body {
    font-family: Arial;
    min-height: 100vh;
    margin: 0;
    padding-top: 100px;
    background: #dadad2;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
    text-align: center;
    background: #fff;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    padding: 2rem 2rem;
    color: #6999e3;
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 50%;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 0.5s;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

textarea {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    resize: vertical;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    width: 100%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}