#game-area {
    max-width: 1500px;
}

h1 {
    background-color: rgb(42, 42, 42);
    margin-bottom: 0;
}

.controls {
    display: flex;
    justify-content: space-evenly;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(42, 42, 42);
}

td {
    width: 40px;
    height: 20px;
    max-width: 40px;
}

body {
    background-color: black;
}

button {
    width: 100px;
    height: 50px;
}

/* Glow effect */
#start:hover {
    box-shadow: 0 0 10px #28a745, 0 0 20px #28a745, 0 0 40px #28a745;
}
#stop:hover {
    box-shadow: 0 0 10px #dc3545, 0 0 20px #dc3545, 0 0 40px #dc3545;
}