form {
    background-color: blue;
    color: white;
    width: 500px;
    height: 300px;
    margin: 100px auto 100px;
    padding: 25px;
}

.error{
    color: red;
}

.no-error{
    color: rgb(0, 255, 0);
}
