* {
    box-sizing: border-box;
}

.ludo-container {
    width: 450px;
    margin: 20px auto;
    /* background-color: red; */
}

.ludo-container .ludo {
    height: 450px;
    width: 100%;
    /* background-image: url('./ludo-bg.jpg'); */
    background-image: url(./ludo-bggg.png);
    background-size: contain;
    position: relative;

}


.player-pieces {
    height: 100%;
    width: 100%;
    /* background-color: red; */
}

.player-piece {
    width: 3%;
    height: 3%;
    border: 2px solid;
    border-radius: 10px;
    position: absolute;
    transform: translate(50%, 50%);
    transition: all .2s;
    z-index: 1;
}

.player-piece.highlight {
    cursor: pointer;
    border: 2px dashed;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {
        transform: translate(50%, 50%) rotate(0deg);
    }
    50% {
        transform: translate(50%, 50%) rotate(180deg) scale(1.4);
    }
    100% {
        transform: translate(50%, 50%) rotate(360deg);
    }
}

[player-id="P1"].player-piece {
    background-color: #2eafff;

}

[player-id="P2"].player-piece {
    background-color: #00b550;
}

[player-id="P3"].player-piece {
    background-color: #ff4757;
    
}

[player-id="P4"].player-piece {
    background-color: #ffa502;
}

.player-base {
    width: 40%;
    height: 40%;
    border: 30px solid;
    position: absolute;
    
}

.player-bases [player-id="P1"].player-base {
    /* bottom: 0; */
    /* left: 0; */
    
    border-color: #1295e7;
    height: 38%;
    width: 38.5%;
    margin-top: -177px;
    margin-left: 6px;
    border-width: 22px;
    border-right-width: 26px;
    border-top-width: 24px;
    
    
    
   
}

.player-bases [player-id="P2"].player-base {
    /* top: 0; */
    /* right: 0; */
    border-color: #049645;
    margin-top: -445px;
    margin-left: 275px;
    height: 38%;
    width: 37.5%;
    border-width: 22px;
    border-top-width: 24px;
}

.player-bases [player-id="P3"].player-base {
    /* bottom: 0;
    right: 0; */
    height: 38%;
    width: 38%;
    border-width: 22px;
    border-top-width: 24px;
    border-color: #d63031;
    margin-left: 273px;
    margin-top: -178px;
    border-left-width: 24px;
    border-bottom-width: 23px;
}

.player-bases [player-id="P4"].player-base {
    /* top: 0;
    left: 0; */
    border-color: #f39c12;
    height: 38%;
    width: 38.5%;
    margin-top: -444.6px;
    margin-left: 6px;
    border-width: 22px;
    border-right-width: 27px;
    border-top-width: 23px;
    border-bottom-width: 24px;
}

.player-base.highlight {
    animation: border-blink .7s infinite ease-in-out;
}

@keyframes border-blink {
    50% {
        border-color: rgba(255, 255, 255, 0.8);
    }
}

.btn {
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: none;
}

.btn:disabled {
    opacity: 0.5;
    display: none;
}

.btn-dice {
    background-color: #009d60;
    color: white;
    display: none;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.dice-value {
    font-size: 24px;
    font-weight: bold;
    display: none;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #b33951; */
}

.containeer {
    display: grid;
    place-items: center;
    width: 250px;
    padding: 60px 0 40px;
    border-radius: 30px;
    background: #eeeeee;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    margin-left: 1000px;
    position: absolute;
}
.result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #b33951;
    font-family: 'Montserrat', sans-serif;
}

.dice {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: 1s ease;
    /* margin-left: -100px; */
}

@keyframes rolling {
    50% {
        transform: rotateX(455deg) rotateY(455deg);
    }
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 5px solid #f6f3f0;
    transform-style: preserve-3d;
    background: linear-gradient(
        145deg, #dddbd8, #fff
    );
}

.face::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #f6f3f0;
    transform: translateZ(-1px);
}

.face::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #131210;
}

.front {
    transform: translateZ(50px);
}

.back {
    transform: rotateX(180deg) translateZ(50px);
}

.top {
    transform: rotateX(90deg) translateZ(50px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(50px);
}

.right {
    transform: rotateY(90deg) translateZ(50px);
}

.left {
    transform: rotateY(-90deg) translateZ(50px);
}

.front::after {
    width: 30px;
    height: 30px;
    background: #f63330;
    margin: -15px 0 0 -15px;
}

.back::after {
    margin: -35px 0 0 -30px;
    box-shadow: 40px 0,
                0 25px,
                40px 25px,
                0 50px,
                40px 50px;
}

.top::after {
    margin: -30px 0 0 -30px;
    box-shadow: 40px 40px;
}

.bottom::after {
    margin: -36px 0 0 -36px;
    box-shadow: 26px 26px,
                52px 52px,
                52px 0,
                0 52px;
}

.right::after {
    margin: -30px 0 0 -30px;
    box-shadow: 40px 0,
    0 40px,
    40px 40px;
}

.left::after {
    margin: -35px 0 0 -35px;
    box-shadow: 25px 25px,
                50px 50px;
}

.roll {
    cursor: pointer;
    color: #b33951;
    margin-top: 60px;
    padding: 6px 12px;
    border-radius: 3px;
    font: 700 16px 'Montserrat';
    border: 2px solid #b33951;
    transition: .4s;
}

.roll:hover {
    color: #fff;
    background: #b33951;
}






















