$primaryBgColor: rgb(3,136,123);
$primaryTextColor: rgba(255, 255, 255, 0.7);

$warnBgColor: rgb(179, 124, 5);
$warnTextColor: rgba(255, 255, 255, 0.7);

$successBgColor: rgb(5, 126, 50);
$successTextColor: rgba(255, 255, 255, 0.7);