        * {
            margin: 0;
            padding: 0;
        }

        html {
            scroll-behavior: smooth;
        }

        body {
            font-family: 'Alegreya', serif;
        }


        .bg-transparent {
            background-color: rgba(0, 0, 0, 0.4) !important;
            color: white !important;
        }

        /* Nav bar */
        nav {
            font-size: 1.6em;
            /* position: fixed !important; */
        }

        a {
            color: white;
        }

        button a:hover {
            color: black;
        }

        a:hover {
            color: white;
            text-decoration: underline;
        }

        /* Write on Background picture */
        .container1 {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 29em;
            margin: 100px 80px 0px 80px;
        }

        .header {
            border-radius: 30px;
            padding: 30px 40px 30px 40px;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .header h1 {
            font-size: 4.2em;
        }

        .quote {
            font-size: 1.4em;
            text-align: center;
        }

        .hire{
            font-size: 2em;
        }

        .box{
            padding: 30px;
            box-shadow: 1px 1px 3px 3px #d8d3d8;
            border-radius: 0px;
        }

        .img-fluid{
            height: 400px;
        }

        .icon{
            width: 20px;
        }
        
        /* Media Queries */
        @media screen and (max-width: 740px) {
            .header {
                font-size: 1.5em;
                border-radius: 30px;
                padding: 30px 40px 30px 40px;
                background-color: rgba(0, 0, 0, 0.4);
            }

            .header h1 {
                font-size: 2em;
            }

            .quote {
                font-size: 1em;
                text-align: center;
            }
            .hire{
            font-size: 1.2em;
        }
        }