@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html
{
    scroll-behavior: smooth;
}
body {
    text-align: center;
    background-color: #202020;
    color: white;
  }


h1 {
    font-size: 5rem;
    font-weight: 500;
    color: #DBEDF3;
    font-family: "Arvo", sans-serif;
    text-shadow: 3px 0 #DA0463;
    margin: 30px auto;
    padding: 10px 20px;
  
  }
  
.container
{
    margin: 10vh auto 0;
    width: 40%;
    min-width: 322px;
    padding: 5% 5%;
    /* border-radius: 20px; */
    /* background-color: rgba(255, 255, 255, 0.2); */
    
}

.container.box{
    margin: 0 auto;
    padding: 3% 0 100px;
}

form
{
    text-align: left;
}
/* label{
    font-size: 1.3em;
} */

.form-group
{
    margin: 20px auto;
    color:rgb(174, 174, 174);
    
}

.form-control
{
    /* border: 1px solid black; */
    border: none;
    background-color: rgb(242, 242, 242);
    /* box-shadow: 10px 10px 100px  rgb(197, 192, 192); */
    height: 50px;
    border-radius: 10px;
    
    font-size: 1.2em;
    padding: 5% 5%;
}


.form-control::placeholder
{
    color:rgb(174, 174, 174);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}


.btn
{
    border: none;
    width: 100%;
    background-color: #DA0463;
}
.btn:hover
{
    background-color: #fa8f47;
    border: none;
}

.symbolbox
{
    height: 300px;
    width: 300px;
    border: 6px solid white;
    margin: 0 auto;
    text-align: left;
}

h2
{
    font-family: "Arvo", sans-serif;
    margin: 0 auto 80px;
}
.symbolbox p
{
    margin: 15px 20px 0;
    text-align: left;
}
.symbolbox p span.age
{
    font-size: 3rem;
    
}

.symbolbox p span.weight
{
   
    position: relative;
    right: -120px;
    top: -10px;
    font-size: 1.5rem;
}

.elementname
{
    text-align: left;
    font-size: 6rem;
    font-weight: 500;
    color: white;
    font-family: "Arvo", sans-serif;
    text-shadow:none;
    margin: 0px 0;
    padding: 0 20px;
    display: inline;
    text-align: left;

}

p.fullname
{
    margin: 0 20px 0;
    padding-top: 0px;
    font-size: 20px;
    
}

.hidden
{
    display: none;
}
p.config
{
    margin: 10px 20px 5px;
}