    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #f3f3f3;
      font-family: Arial, sans-serif;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 500px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .card-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
    .card {
      width: 130px;
      height: 150px;
      margin: 0 10px;
      background-color: #2196F3;
      color: white;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      font-weight: bold;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      position: relative;
    }
    .label {
      margin-top: 90px;
    }
    .seperator{
      font-size: 55px;
    }
    .card .flip {
      transition: transform 0.5s;
      transform-style: preserve-3d;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      backface-visibility: hidden;
    }
    .card .flip .front, .card .flip .back {
      position: absolute;
      backface-visibility: hidden;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      font-weight: bold;
    }
    .card .flip .back {
      transform: rotateY(180deg);
    }