.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: 1px solid black;
    margin-top: 80px
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red
}