@import url('https://fonts.googleapis.com/css?family=Roboto:100');

@media (max-width: 768px) {
    .col3 {
        width: 25%;
    }
}

.spacebar {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.col3 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col3 h1 {
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
