#header {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

#header button {
  font-weight: 600;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}

#header button:hover {
  transform: scale(1.05);
  background-color: lightyellow;
}

#breadcrumb {
  border: 1px solid black;
  margin: 10px;
  display: flex;
}

#breadcrumb a {
  background-color: tomato;
  padding: 10px;
  border-right: 5px solid black;
}

#breadcrumb a:hover {
  background-color: teal;
  text-decoration: underline;
  cursor: pointer;
}

#container {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  display: flex;
}

/* app div styling start*/
#app {
  border: 5px solid blue;
  margin: 10px;
}

#app-title-bar {
  display: flex;
  justify-content: space-around;
  background-color: cyan;
  height: 40px;
}

#app-title {
  width: 95%;
  text-align: center;
  border-right: 5px solid red;
}

#app-menu-bar {
  display: flex;
  background-color: teal;
  height: 40px;
}

#app-body {
  display: flex;
  background-color: springgreen;
  height: 500px;
}

.notepad-menu {
  width: 100%;
  padding: 5px;
}

.notepad-menu * {
  margin: 0px 5px;
  padding: 2px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 5px;
}

.notepad-menu span {
  vertical-align: bottom;
}

.notepad-menu span:hover {
  border: 2px solid black;
  background-color: white;
  color: teal;
}

.notepad-menu [pressed="true"] {
  border: 2px solid black;
  background-color: white;
  color: teal;
}

.notepad-menu input[type="color"] {
  height: 30px;
  width: 30px;
}

.noteapd-menu select {
  height: 30px;
}

.notepad-body {
  height: 100%;
  width: 100%;
}

.notepad-body textarea {
  height: 100%;
  width: 100%;
}

.notepad-menu input[action="upload"] {
  display: none;
}

/* app div styling end */

/* folder style start */
.folder {
  background-color: teal;
  color: white;
  height: 120px;
  width: 150px;
  margin: 10px;
  padding: 10px;

  border: 2px solid red;
  border-radius: 5px;
}

.folder div[purpose="name"] {
  margin-top: 80px;
}

.folder [action] {
  text-decoration: underline;
  cursor: pointer;
}

.folder [action]:hover {
  color: blue;
}

/* folder style end */

/* text-file style start */
.text-file {
  background-color: lightcoral;
  color: white;
  height: 120px;
  width: 150px;
  margin: 10px;
  padding: 10px;

  border: 2px solid red;
  border-radius: 5px;
}

.text-file div[purpose="name"] {
  margin-top: 80px;
}

.text-file [action] {
  text-decoration: underline;
  cursor: pointer;
}

.text-file [action]:hover {
  color: blue;
}

/* we don't need to show our anchor tag for download  */
[purpose="download"] {
  display: none;
}

/* text-file style end */

/* album style start */
.album {
  background-color: cyan;
  color: white;
  height: 120px;
  width: 150px;
  margin: 10px;
  padding: 10px;

  border: 2px solid red;
  border-radius: 5px;
}

.album div[purpose="name"] {
  margin-top: 80px;
}

.album [action] {
  text-decoration: underline;
  cursor: pointer;
}

.album [action]:hover {
  color: blue;
}

.album-menu {
  width: 100%;
  padding: 5px;
}

.album-menu * {
  margin: 0px 5px;
  padding: 2px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 5px;
}

.album-menu span {
  vertical-align: bottom;
}

.album-menu span:hover {
  border: 2px solid black;
  background-color: white;
  color: teal;
}

.album-body {
  height: 100%;
  width: 100%;
  padding: 5px;
}

.picture-list {
  border: 1px solid black;
  height: 100px;
  margin: 5px;
  padding: 5px;
  display: flex;
}

.picture-list img {
  height: 90%;
  border: 2px solid teal;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.picture-list img:hover {
  transform: scale(1.1);
  border: 2px solid hsl(67, 95%, 7%);
}

.picture-list img[pressed="true"] {
  transform: scale(1.05);
  border: 2px solid white;
  box-shadow: 2px 2px 5px red;
}

.picture-view {
  border: 1px solid black;
  height: 350px;
  margin: 5px;
  padding: 5px;
  display: flex;
}

.picture-view > div {
  height: 100%;
}

.picture-view .move-left {
  width: 15%;
}

.picture-view .picture-main {
  padding: 5px;
  width: 70%;
  display: flex;
}

.picture-view .picture-main img {
  height: 100%;
}

.picture-view .move-right {
  width: 15%;
}

/* album style end */

/* window actions icons start*/

#win-actions span {
  cursor: pointer;
}

#win-actions span:hover {
  color: orange;
}

/* window actions icons end*/
