@import url('https://fonts.googleapis.com/css2?family=Roboto');

*{
    box-sizing: border-box;
}

body{
    background-color: #ebebeb;
    color: #444444;
    font-family:Roboto, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1{
    color: #625fff;
    font-size: 10rem;
    text-align: center;
    opacity: 0.4;
}

form{
    box-shadow: 0 4px 10px #00000025;
    max-width: 100%;
    width: 400px;
}

.input{
    border: none;
    color: #444444;
    font-size: 2rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
}

.input::placeholder{
    color: #d5d5d5;
}

.input:focus{
    outline: 2px solid #625fff;
}

.todos{
    background-color: #ffffff;
    padding: 0%;
    list-style-type: none;
    margin: 0;
}

.todos li{
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

.todos li.completed{
    color: #b6b6b6;
    text-decoration: line-through;
}

small{
    color: #b5b5b5;
    margin-top: 3rem;
    text-align: center;
}