@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
*
{
	box-sizing:  border-box;
}
body
{
	margin:  0;
	background:	radial-gradient(#9D5900,#3D2200);
	text-align:	center;
}
h1
{
	color:  red;
	font-size:  2em;
	font-family: 'Nosifer', cursive;
}
h2
{
	color:  #FFBB89;
	font-family: 'Creepster', cursive;
}
.op
{
	width: 100px;
	height: 30px;
	border: none;
	border-radius: 5px;
	text-align: center;
	background-color: green;
	border-radius: 20px;
	color: white;
}
.btn
{
	width: 100px;
	border: none;
	border-radius: 5px;
	text-align: center;
	background-color: lightgrey;
	height: 30px;
	border-radius: 20px;
	color: green;
}
.btn:focus, .op:focus
{
	outline: none !important;
}
#inst
{
	width:  320px;
	margin-left:  auto;
	margin-right:  auto;
}
#gameinfo
{
	width:  320px;
	height:  20px;
	margin-left:  auto;
	margin-right:  auto;
}
.stat
{
	width:  160px;
	height:  20px;
	font-size:  1.8em;
	float:  left;
	color:  #FFBB89;
	font-family: 'Creepster', cursive;
}
#flp
{
	text-align:  right;
}
#board
{
	width:  320px;
	height:  500px;
	margin-left:  auto;
	margin-right:  auto;
	perspective:  500px;
}
img
{
	width:  100%;
	height:  100%;
	border-radius:	5px;
}
.cards
{
	width:  60px;
	height:  80px;
	float:  left;
	margin-bottom:  20px;
	margin-left:  20px;
	position:  relative;
}
.card-face
{
	position:  absolute;
	width:  100%;
	height:  100%;
	display:  flex;
	justify-content:  center;
	align-items:  center;
	overflow:  hidden;
	backface-visibility:  hidden;
	transition:  transform 500ms ease-in-out;
}
.card-back
{
	background-color:  black;
	border-radius:  5px;
}
.card-front
{
	background-color:  #FFBB89;
	transform:  rotateY(180deg);
	border-radius:  5px;
}
.cards.visible .card-back
{
	transform:  rotateY(-180deg);
}
.cards.visible .card-front
{
	transform:  rotateY(0);
}
.result, #inst
{
	color:  #FFBB89;
	font-family: 'Creepster', cursive;
}