body{
  background: #e3e3e3;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
}
#container{
  margin-top: 10%;
  display: inline-block;
}
canvas{
  background: #cecece;
  border: 1px solid #181818;
}
