*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}

.calculator{
    position: relative;
    display: grid;
}

.value{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    direction: ltr;
    padding: 8px;
    font-size: 18px;
}

span{
    display: grid;
    width: 60px;
    height: 60px;
    background: #0c2835;
    color: white;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, .1);
}

span:hover{
    cursor: pointer;
}

span:active{
    cursor: pointer;
    background: #74ff3b;
    color: #111;
}

.numclear{
    grid-column: span 2;
    width: 120px;
    background: #ff3077;
}

.numplus{
    grid-row: span 2;
    height: 120px;
}

.numequal{
    background: #03b1ff;
}

.numclear:active{
    background: #ff3077;
}
