/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CUSTOM STYLES */
html {
    font-size: 18px;
}
body {
    line-height: 1.5;
}

h1 {
    font-size: 8rem;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
}
.main {
    width: 50%;
    padding: 2rem .5rem .25rem .5rem;
    margin: auto auto;
    box-shadow: 0px 3px 2px 0px lightgray;
}
.input {
    display: inline-block;
    width: 90%;
    font-size: 1.4rem;
    padding: 1rem;
    outline: none;
    border: none;
    box-shadow: 2px 3px 5px grey;
    margin-bottom: 2rem;
}
.list-items {
    display: flex;
    width: 95%;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 800;
    color: rgb(238, 136, 118);
    padding-bottom: .5rem;
    border-bottom: 1px dashed black;
    position: relative;
}

.checkbox {
    width: 1.3rem;
    height: 1.3rem;
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid rgb(245, 113, 113);
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
} 
.checkbox:checked {
   background: linear-gradient(rgb(127, 231, 8), rgb(85, 182, 21));
   border: 1px solid rgb(2, 20, 26);
}

.todo-name {
    padding-left: 1rem;
    text-transform: capitalize;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.edit {
    color: green;
    font-size: .75rem;  
}
.edit:hover {
   transform: scale(1.2);
   cursor: pointer;
} 

.close {
    font-size: 1rem;
    cursor: pointer;
}
.close:hover {
    background: lightsalmon;
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: middle;
}
.summary {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
    box-shadow: 3px 4px 10px lightgray;
}
.sum-span {
    display: inline-block;
    font-size: .75rem;
    font-weight: 500;
    color: rgb(143, 136, 136);
    border: .15px solid rgb(233, 222, 222);
    padding: .25rem;
    cursor: pointer;
}
.sum-span:hover {
 transform: scale(1.15);
}
.left-items {
    cursor: not-allowed;
}
.left-items:hover {
    transform: none;
}
.update-box {
    height: 1.9rem;
    position: absolute;
    text-align: center;
    width: 88%;
    font-size: 1.4rem;
    font-weight: 800;
    color: rgb(238, 136, 118);
}
.selected {
    background: black;
    color: #fff;
    border: 1px solid rgb(212, 202, 202);
    box-shadow: 2px 4px 8px rgb(112, 111, 111);
}
@media screen and (max-width: 720px){
    html {
        font-size: 14px;
    }
    .main {
        width: 100%;
    } 
    .list-items {
        justify-content: space-between;
        width: 90%;
        padding: .5rem 1rem;
    }
    .update-box {
        width: 60%;
        position: relative;
        margin: 1rem;
    }
    .summary {
        flex-direction: column;
        align-items: stretch;
    }
    .sum-span {
        margin-bottom: 1rem;
    }
}