*{
    box-sizing:border-box;
}

body{
    height:100vh;
    color: #fff;
    padding-top:40px;
}

body{
    min-height: 100vh;
    background:url('../assets/github.jpg');
}

.navbar{
    height: 50px;
    border-bottom:rgba(235, 9, 9, 0.8) 10px solid;
    opacity:0.8;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}

.submitForm{
    position: relative;
    margin-top: 250px;
    top:20%;
    left:4%;

}

.fab{
    font-size: 25px;
}

.Backdrop{
    width:100%;
    height:100%;
    position:fixed;
    z-index:100;
    left:0;
    top:0;
    background-color: rgba(0, 0, 0, 0.568);
    display:none;
  }
  

.loader,
.loader:before,
.loader:after {
  background: #2e00ff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #2e00ff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  margin-left: 50%;
  margin-top: 20%;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
