@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: #00ffff69;
}

#container {
    position: absolute;
    top: 25%;
    left: 30%;
    background-color: white;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: grey 3px 3px 2px;
    width: 40%;
    height: 65%;
    color: #1f8800;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#heading {
    font-size: 2rem;
    color: black;
    margin: 20px;
}

#twitterIcon {
    height: 14px;
    width: 17px;
}

#quote {
    font-size: 22px;
    margin-top: -25px;
    padding: 15px;
    font-weight: 900;
}

span {
    float: right;
    font-size: 25px;
    font-weight: bold;
    margin-left: 335px;
    margin-top: -20px;
}

span::before {
    content: '~';
    color: brown;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    margin-bottom: 15px;
    gap: 35px;
}

#buttons button {
    outline: none;
    border: 0;
    padding: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 900;
    background-color: #93ff8d;
}

#buttons button:hover {
    background-color: aqua;
    color: rgb(0, 0, 54);
}

#btn2 img {
    padding-right: 4px;
}

a{
    text-decoration: none;
    color: black;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 768px) {
    #container {
        width: 80%;
        left: 10%;
    }

    #author {
        font-size: 20px;
        margin-right: 25px;
    }
}

@media only screen and (max-width: 480px) {
    #container {
        width: 90%;
        left: 5%;
    }

    #author {
        font-size: 16px;
    }

    #heading {
        font-size: 1.5rem;
    }

    #quote {
        font-size: 18px;
    }

    span {
        margin-left: 200px;
    }
}

@media screen and (min-width: 770px) and (max-width : 1270px) {
    #author {
        font-size: 18px;
        margin-right: 150px;
    }
}