/*-- General Styles --*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: #fff;
    background-color: coral;
}

:root {
   
    --font-primary: 'Open Sans', 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
    --font-secondary: 'Segoe UI', Roboto, 'Open Sans', sans-serif;
}

html {
    /* min-height: 100%; */
    min-width: 100%;
    overscroll-behavior: auto;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
    font-family: sans-serif;
    color: #fff;
    background-color: #232229;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;

    -webkit-tap-highlight-color: transparent;
    /* overflow-y: hidden; */
}

body::-webkit-scrollbar {
    display: none;
}

img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

a { text-decoration: none; }
ul { list-style: none; }

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: grid;
    place-items: center;
}

.hidden {
    display: none;
}
/*-- End General Styles --*/

/*-- Heading Section --*/
    .head {
        flex-flow: wrap column;
        margin-inline: auto;
        padding: 3rem 0 2.5rem 0;
        width: 95%;
    }

    .head_hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 98%;
        /* gap: 1rem; */
        background-color: #3a3841;

        padding: .5rem .7rem .5rem 1.4rem;
        border-radius: 3rem;
        overflow-x: hidden;
    }

    /* toggle */
    .searching {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: .6rem;

        position: fixed;
        top: 0;
        /* z-index: 410; */

        padding: 2.3rem 0 .7rem 1rem;
        width: 100vw;

        /* background: royalblue; */
        background-color: #3a3841;
        border-radius: 0;
        overflow: visible;
        /* box-shadow: 0 0 .7rem rgba(0, 0, 0, 0.4); */
    }

    .searching::before {
        content: '';
        display: block;
        position: absolute;
        top: 100%; left: 0;
        width: 100vw;
        height: 100vh;

        overflow: visible;
        z-index: 300;
        
        background: #232229;
        box-shadow: inset 0rem 0rem .5rem rgba(0, 0, 0, 0.35);
    }

    .close-search svg {
        pointer-events: none;
    }

    .close-search {
        display: none;
        padding: .4rem .5rem .2rem .7rem;
        font-size: 1.15rem;
        cursor: pointer;
        color: #ccc;
    }

    .searching .close-search {
        display: block;
    }

    .close-search svg {
        height: clamp(1.6rem, 2vmin, 3rem);
        width: clamp(1.6rem, 2vmin, 3rem);
    }

    /* search */
    .head_hero-search {
        position: relative;
        color: #ddd;
        font-size: clamp(1.15rem,3.2vmin,1.2rem);
        border: none;
        min-height: 1.8em;
        width: 90%;
        word-spacing: 2px;

        font-family: sans-serif;
        background-color: transparent;
    }

    .searching .head_hero-search {
        background-color: #3a3841;
    }

    input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: none;
        opacity: 0;
        pointer-events: none;
    }

    .head_hero-search:focus {
        outline: none;
        width: 80%;
    }

    .head_hero-avatar {
        display: grid;
        place-items: center;
        position: relative;        

        width: clamp(2rem,5.5vmin,3rem);
        height: clamp(2rem,5.5vmin,3rem);

        border-radius: 50%;
        font-family: sans-serif;
        font-size: clamp(.9rem,3vmin, 1.2rem);
        font-weight: 500;
        text-transform: capitalize;

        outline: 2px solid #3a3841;
        outline-offset: -3px;
        background-color: #ee5155;

        cursor: pointer;
    }

    .head_hero-avatar-profile_wrap {
        display: none;
    }

    .head_hero-avatar-profile_wrap.in-view {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        
        position: fixed;
        inset: 0;
        z-index: 550;

        width: 100vw;
        height: 100vh;
        cursor: auto;
        background-color: rgba(0, 0, 0, 0.48);
    }

    /* [data-logo="inner"] {
        text-emphasis: none;
    } */

    .in-view .head_hero-avatar-profile {
        margin-top: clamp(9.5rem,30vmin,14rem);
        width: 80%;
        min-height: 30%;
        background: #3b3941;

        overflow: hidden;
        border-radius: .7rem;
    }

    .head_hero-avatar-profile  {
        font-family: sans-serif;
        color: #fff;
    }

    .avatar_name-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 2rem;

        /* background-color: rgba(255, 0, 0, 0.2); */
        min-height: 58%;
        padding: 0 1rem 1.5rem 2.5rem;
        /* margin-bottom: 2.2rem; */
    }

    .avatar-logo-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .avatar_name-logo
    .head_hero-avatar-logo {
        --n-size: clamp(5rem,15vmin,6.5rem);
        display: grid;
        place-items: center;
        font-size: 3rem;
        background-color: #ee5155;
        width: var(--n-size);
        height: var(--n-size);
    }

    .avatar_color-picker {
        width: 1.25rem;
        height: 1rem;
    }

    .avatar-name-wrap {
        display: flex;
        align-items: center;
        gap: clamp(1rem,3vmin,1.5rem);
    }

    .avatar-name_edit {
        cursor: pointer;
    }

    .avatar-name_edit svg {
        --size-svg: clamp(1.45rem,3.2vmin,2.5rem);
        height: var(--size-svg);
        width: var(--size-svg);
        pointer-events: none;

        opacity: 1;
    }

    .avatar-name {
        position: relative;
        font-size: clamp(1.25rem,3.5vmin,1.7rem);
        word-wrap: break-word;
        text-align: center;
    }

    .avatar-name:focus {
        outline: none;
    }

    .avatar-name:focus::after {
        content: '';
        width: 100%;
        height: 50%;
        position: absolute;
        left: 0; bottom: -5%;
        border-bottom: 1px solid #ac9dff;
    }

    .avatar-name:focus svg {
        opacity: 0;
    }

    .avatar_close-btn {
        display: inline-block;
        width: fit-content;
        padding: .2rem;
        cursor: pointer;
        margin: .4rem 0 0 .3rem;
        margin-bottom: clamp(.7rem,6vmin,1.5rem);
    }

    .avatar_close-btn svg {
        display: block;
        height: clamp(1.5rem,3.5vmin,3rem);
        width: clamp(1.5rem,3.5vmin,3rem);
        pointer-events: none;
    }

    .searching .head_hero-avatar {
        display: none;
    }

    .head_hero-avatar-logo {  
        border-radius: 50%;
        pointer-events: none;
    }

    .head_categories {
        margin-top: 2rem;
        width: 97%;
    }

    .head_categories-heading {
        font-size: clamp(.95rem,3.5vmin,1.1rem);
        color: #999;
        margin-bottom: 1.2rem;
    }

    .head_categories-menu {
        justify-content: space-between;
    }

    .category-item {
        font-family: sans-serif;
        font-size: clamp(.88rem,3vmin,1.07rem);
        font-weight: 500;
        padding: .8rem 1.2rem;
        color: #afafaf;
        background-color: #3a3841;
        border-radius: 1.15rem;
        transition: .05s ease color,
        .05s ease background-color;
    }

    .selected {
        color: #2b2a33;
        background-color: #f1f7fe;
    }
/*-- End Heading Section --*/


/*-- Main Section --*/
    .main {
        width: 100%;
        min-height: auto;
        /* margin-inline: auto; */
        padding-inline: 1rem;
    }
    
    .main-section-heading {
        font-size: clamp(.95rem,3.5vmin,1.1rem);
        margin-bottom: 1.2rem;
        margin-inline: auto;
        /* width: 97%; */

        color: #999;
    }
    
    .main-section-category {
        /* grid display already 
        creates stacking content,
        hence no z-index */
        display: grid;
        gap: 1.6rem;
        grid-template-columns: repeat(2, minmax(7.03rem,1fr));
        grid-auto-flow: dense;
        width: 100%;
        height: 100%;
        margin-inline: auto;
        padding: 0 .5rem 1.5rem .5rem;
    }

    .allNotes {
        position: relative;
        align-content: start;

        margin: -4rem 0 0 -1rem;
        width: 100vw;
        padding-inline: 1.5rem;
        min-height: 75vh;
        max-height: 75vh;
        overflow: hidden scroll;

        scrollbar-width: none;
    }

    /* for chrome */
    .allNotes::-webkit-scrollbar {
        display: none;
    }

    .allNotes .key {
        display: grid;
    }

    .main-section-notes {
        --height: 6rem;
        display: none;
        /* display: grid; */
        place-items: center;
        position: relative;
        /* z-index: 50; was causing error*/
        padding: .35rem 1rem .35rem 1rem;
        max-width: 100%;
        min-height: var(--height);
        max-height: var(--height);
        border-radius: .7rem;
        cursor: pointer;
        margin-bottom: 3rem;
        background-color: #3a3841;
    }

    /*-- actual note editing section --*/
    .main-section-notes.edit {
        display: grid;
        align-items: start;
        align-content: start;
        position: fixed;
        inset: 0;
        z-index: 499;
        width: 100%;
        max-height: none;
        height: 100%;
        padding: 4.6rem 1rem 0 1rem;

        text-align: left;
        border-radius: 0;
        white-space: normal;
        background-color: #232229;
        cursor: auto;

        scrollbar-width: none;
        overflow-y: auto;
        scroll-behavior: smooth;
    }

    .main-section-notes.edit::-webkit-scrollbar {
        display: none;
    }

    
    /* pending */
        .pending-section .pending {
            display: grid;
        }

    /* end pending */

    /* completed */
        .completed-section .completed {
            display: grid;
        }    

    /* end completed */

    /* favorite */
        .favorite-section .favorite {
            display: grid;
        }    

    /* end favorite */

    /* notes preview */
    .edit .main-section-notes-preview {
        display: none;
    }

    .main-section-notes-preview {
        display: block;
        position: relative;
        z-index: 40;
        font-family: sans-serif;
        letter-spacing: .2px;
        font-size: clamp(.5rem,2vmin,.7rem);
        margin-top: .6rem;
        padding: .7rem 1rem;
        width: 100%;

        max-height: calc(var(--height) - 1rem); 
        overflow: auto hidden;
        /* word-break: break-all; */
        word-wrap: break-word;
        pointer-events: none;
        background-color: #232229;
    }

    .edit .main-section-notes-preview-status {
        display: none;
    }

    .main-section-notes-preview-status {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: .3rem;

        position: absolute;
        bottom: 6%; right: 5.5%;
        /* top: 0; */
        z-index: 50;

        text-align: center;
        width: fit-content;
    }

    .status-pending,
    .status-favorite {
        display: none;
        width: clamp(1rem,3vmin,1.3rem);
        height: clamp(1rem,3vmin,1.3rem);
    }

    .status-completed {
        display: none;
        width: clamp(.9rem,3vmin,1.2rem);
        height: clamp(.9rem,3vmin,1.2rem);
        padding-left: .013rem;
    }

    .pending-section 
    .favorite
    .status-favorite {
        display: inline-block;
    }

    .completed-section
    .favorite
    .status-favorite {
        display: inline-block;
    }

    .favorite-section
    .pending
    .status-pending {
        display: inline-block;
    }

    .favorite-section
    .completed
    .status-completed {
        display: inline-block;
    }
    
    /* notes caption */
    .edit .main-section-notes-caption {
        display: none;
    }

    .main-section-notes-caption {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: -39%; 

        font-size: clamp(1rem, 3vmin, 1.2rem);
        margin-left: 1rem;
        padding-left: .2rem;
        width: 100%;
        cursor: auto;
    }

    /* outer notes title */
    .main-section-notes-title {
        min-height: 2rem;
        max-width: 80%;
        font-family: var(--font-primary);
        text-align: center;
        padding: .3rem 0;
        pointer-events: none;
        letter-spacing: .8px;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    /* option dots */
    .main-section-notes-optionDots {
        display: inline-block;
        cursor: pointer;
        padding: .2rem .7rem .2rem .5rem;
    }

    .main-section-notes-optionDots svg {
        pointer-events: none;
        width: clamp(1.37rem, 3.4vmin, 1.7rem);
        height: clamp(1.37rem, 3.4vmin, 1.7rem);
    }
        
    /* options that appear on 3dots click */
    .main-section-notes-options {
        display: none;
    }

    .main-section-notes-options.active {
        --size: 1rem;
        display: flex; 
        justify-content: center;
        align-items: flex-start;
        flex-flow: nowrap column;
        gap: .5rem;

        position: fixed;
        bottom: 0; left: 0;
        z-index: 399;

        padding-inline: 2rem;
        margin-inline: auto;
        width: 100%;
        min-height: auto;
        font-family: var(--font-secondary);
        font-size: clamp(1rem,3.5vmin,1.15rem);

        border-radius: 2rem 2rem 0 0;
        background-color: #3a3841;
        cursor: auto;
        color: #dfdfdf;
        box-shadow: 0 -50vh 1rem 22rem rgba(0, 0, 0, 0.5);
    }

    .active::before {
        content: '';        
        position: fixed;
        z-index: -7;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }

    .main-section-notes-optionsTitle {
        font-size: clamp(1rem,3.5vmin,1.2rem);
        width: 100%;
        padding: 1.4em .5rem 1.2em 0;
        border-bottom: 1px solid #555;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.4;
    }

    .main-section-notes-options 
    .main-section-notes-nav_completeBtn {
        cursor: pointer;
        width: 100%;
        padding: var(--size) 0 .8rem 0;
    }

    .main-section-notes-options 
    .main-section-notes-nav_favoriteBtn {
        cursor: pointer;
        width: 100%;
        padding: var(--size) 0 .8rem 0;    
    }

    .main-section-notes-nav_completeBtn {
        display: flex;
        align-items: center;
        gap: clamp(.5rem,3vmin,1.5rem);
    }

    .main-section-notes-nav_completeBtn svg {
        display: block;
        height: clamp(1.2rem, 3.4vmin, 1.3rem);
        width: clamp(1.2rem, 3.4vmin, 1.3rem);
    }

    .main-section-notes-nav_favoriteBtn {
        display: flex;
        align-items: center;
        gap: clamp(.5rem,3vmin,1.5rem);
    }

    .main-section-notes-nav_favoriteBtn svg {
        display: block;
        height: clamp(1.2rem, 3.4vmin, 1.4rem);
        width: clamp(1.2rem, 3.4vmin, 1.4rem);
    }

    .main-section-notes-optionsDelete {
        display: flex;
        align-items: center;
        gap: clamp(.5rem,3vmin,1.5rem);
        /* color: #ff0040; */
        color: #ff6886;
        cursor: pointer;
        width: 100%;
        padding: var(--size) 0 1.2rem 0;
    }

    .main-section-notes-optionsDelete svg {
        display: block;
        height: clamp(1.4rem, 3.4vmin, 1.6rem);
        width: clamp(1.4rem, 3.4vmin, 1.6rem);
    }

    .main-section-notes-optionsCancel {
        cursor: pointer;
        width: 100%;
        padding: 1.2rem 0 1.8rem .2rem;
        border-top: 1px solid #555;
    }

    /*- part 1: -*/
    .main-section-notes-nav {
        display: none;
    }

    .edit .main-section-notes-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        position: fixed;
        inset: 0 auto auto auto;
        z-index: 99;
        width: 92%;
        margin-inline: auto;
        padding: 1.5rem 0 .5rem 0;

        font-size: clamp(1rem, 3vmin, 1.1rem);
        color: #dfdfdf;
        background-color: #232229;
        /* background-color: #0f0061; */
    }

    .edit .main-section-notes-nav::before {
        content: '';
        position: absolute;
        z-index: -9;
        top: 0; right: -4.4%;
        background-color: #232229;
        width: 100vw;
        height: 100%;
    }
    
    .main-section-notes-nav_backBtn {
        font-family: var(--font-primary);
        cursor: pointer;
        padding: .7rem .7rem .7rem 0;
    }

    .main-section-notes-nav_backBtn svg {
        height: clamp(1.2rem, 3.4vmin, 1.4rem);
        width: clamp(1.2rem, 3.4vmin, 1.4rem);
    }
    
    .edit .main-section-notes-nav_favCompBtns {
        gap: 1rem;
    }

    .main-section-notes-nav_favCompBtns
    .main-section-notes-nav_completeBtn svg {
        height: clamp(1.2rem, 3.4vmin, 1.4rem);
        width: clamp(1.2rem, 3.4vmin, 1.4rem);
    }
    
    .edit .main-section-notes-nav_favoriteBtn,
    .edit .main-section-notes-nav_completeBtn {
        cursor: pointer;
        padding: .7rem;    
    }

    .main-section-notes-nav_backBtn svg,
    .main-section-notes-nav_favoriteBtn svg,
    .main-section-notes-nav_completeBtn svg,
    .main-section-notes-optionDots svg {
        pointer-events: none;
    }
    /*- end part 1: -*/


    /*- part 2: -*/
    .edit .main-section-notes-info {
        display: block;
        position: relative;
        z-index: 90;
        padding: 1.2rem 0 .5rem 0;

        width: 100%;
        border-block: 1px solid #666;
    }

    .main-section-notes-info {
        display: none;
    }

    .edit .main-section-notes-info_title {
        color: #fff;
        background: transparent;
        border: none;
        font-family: var(--font-primary);
        font-weight: 500;
        font-size: clamp(1.4rem, 4.5vmin, 2rem);

        line-height: 1.4;
        scroll-behavior: smooth;
        word-spacing: 1px;
        width: 100%;
        hyphens: auto;
        word-wrap: break-word;
        overflow-x: hidden;
    }

    .edit .main-section-notes-info_title:empty:not(:focus)::before {
        content: attr(data-placeholder);
    }

    .main-section-notes-info_title:focus,
    .main-section-notes-info_title:focus-within,
    .main-section-notes-info_title:focus-visible {
        outline: none;
    }

    .main-section-notes-info_date {
        padding: 1.2rem 0 1rem 0;
        font-size: clamp(1rem,3.5vmin,1.15rem);
        font-family: var(--font-secondary);
    }

    .main-section-notes-info_dateModified {
        padding: 1.2rem 0 0 0;
    }

    .dateCreated,
    .dateModified {
        width: 100%;
        margin-inline: 1.2rem;
    }
    /*- end part 2: -*/
    

    /*-- part 3: --*/
    .edit .main-section-notes-contentEditable {
        display: block;
        position: relative;
        inset: 0;
        z-index: 15;
        width: 100%;

        /* min-height: 30vh; */
        margin-top: .5rem;
        padding: .6rem .3rem .5rem .2rem;
        border: none;
        font-family: var(--font-secondary);

        font-size: clamp(1.05rem, 3.5vmin, 1.2rem);
        line-height: 1.7;

        letter-spacing: .5px;
        word-spacing: 1px;

        resize: none;
        overflow-y: hidden;
        color: #fff;
        background: transparent;
        scrollbar-width: none;
        scroll-behavior: smooth;
    }

    .main-section-notes-contentEditable {
        display: none;
    }

    .edit .main-section-notes-contentEditable::-webkit-scrollbar {
        display: none;
    }

    .main-section-notes-contentEditable:focus,
    .main-section-notes-contentEditable:focus-within {
        outline: none;
    }

    /*-- end part 3: --*/

    /*-- end actual note editing section --*/

/*-- End Main Section --*/


.nav-addSign {
    position: fixed;
    bottom: 12%; right: 12%;
    z-index: 350;
    font-size: clamp(1.1rem, 3.2vmin, 1.3rem);
    padding: 1.05em;
    border-radius: 30%;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 .35rem rgba(0, 0, 0, 0.2);
}

/* Prompt */
.prompt {
    opacity: 0;
    display: none;
    align-items: center;
    
    position: fixed;
    bottom: 10%; right: 7%;
    z-index: 500;
    
    background-color: #0097ee;
    padding: 1rem 1.2rem;
    border-radius: .8rem;
    transition: .4s ease opacity;
}

.prompt.ing {
    opacity: 1;
    display: flex;
}

.prompt-message {
    width: 35ch;
    line-height: 1.6;
    font-size: 1.12rem;
}

.prompt-close {
    cursor: pointer;
}

.prompt-close svg {
    --size-svg: clamp(1.5rem,5vmin,1.8rem);
    display: block;
    height: var(--size-svg);
    width: var(--size-svg);
    pointer-events: none;
}
/* End prompt */


/*----------
All responsive CSS rules
------------*/

@media all and (min-width: 500px) {

    .head {
        padding: 3.5rem 0 2.8rem 0;
    }

    .head_categories {
        margin-top: 2.4rem;
    }

    .edit .main-section-notes-nav {        
        width: 95%;

        margin-inline: auto;
        padding: 1.5rem 0 .5rem 0;
        /* margin-top: -3rem; */
        color: #dfdfdf;
        background-color: #232229;
        /* background-color: #0f0061; */
    }

    .category-item {
        padding: .9em 2em;
    }

    .allNotes {
        margin: -5rem 0 0 1rem;

        width: 100vw;
        /* height: auto; */

        padding-inline: 1rem;
        
        min-height: 75vh;
        max-height: 75vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .selected {
        color: #2b2a33;
        background-color: #f1f7fe;
    }

    .head_categories-heading {
        margin-bottom: 1.7rem;
    }

    .main-section-heading {
        margin-bottom: 1.7rem;
        margin-inline: auto;
        width: 98%;
    }

    .main-section-category {
        justify-content: center;
        align-items: center;
        gap: 4rem;
        width: 92%;
    }

    .main-section-notes {
        --height: 7rem;
        padding: .6rem 1rem .45rem 1rem;
        margin-bottom: 2rem;
    }

    .main-section-notes-caption {
        bottom: -36%; 
    }

    .dateCreated,
    .dateModified {
        margin-inline: 3rem;
    }
}

@media all and (min-width: 700px) {



    .head {
        padding: 3.5rem 0;
    }

    .head_categories {
        margin-top: 3rem;
    }

    .head_hero-search {
        min-height: 2.7em;
    }

    .close-search svg {
        height: 1.8rem;
        width: 1.8rem;
    }

    .edit .main-section-notes-nav {        
        width: 95%;
    }

    .category-item {
        padding: .95em 2.5em;
    }

    .head_categories-heading {
        margin-bottom: 2rem;
    }

    .main-section-heading {
        margin-bottom: 3rem;
        width: 93.5%;
    }

    .main-section-category {
        justify-content: center;
        align-items: center;
        gap: 8rem;
        width: 92%;
    }

    .main-section-notes {
        --height: 10rem;
        padding: .7rem 1.2rem .6rem 1.2rem;
        margin-bottom: -.1rem;
    }

    .main-section-notes.edit {
        width: 98%;
        margin-inline: auto;
    }

    .main-section-notes-preview {
        padding: 1rem 1.4rem;
        max-height: calc(var(--height) - 1.6rem); 
    }

    .main-section-notes-caption {
        bottom: -27%; 
    }


    .edit .main-section-notes-info {
        margin-top: .3rem;
        padding: 1.4rem 0 .6rem 0;
    }

    .main-section-notes-info_date {
        padding: 1.7rem 0 1.2rem 0;
    }

    .dateCreated,
    .dateModified {
        margin-inline: 5rem;
    }
}
