 body {
            font-size: 30px;
            text-align: center;
            background-color: rgb(123, 202, 248);

        }

        table {

            margin-left: auto;
            margin-right: auto;
        }

        td {

            border: 1px solid black;
            float: center;


        }

 h1 {


            font-size: 40px;
            text-align: center;
        }

        .dates {
            margin-right: 30px;
        }

        .months {
            margin-right: 30px;
        }

        .years {
            margin-right: 30px;
        }

        table {

            float: center;
            border-collapse: collapse;
            

        }

        tr {

            border: 1px solid black;
           
        }
