body{
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}

.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.controls{
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:plum;
    color:black;
}

.controls>div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title{
    font-size: 2rem;
}

.btn{
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    background-color:palevioletred;
}

.project{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:grey;
    background-image: linear-gradient( 
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 50%, 
        rgba(0, 0, 0, 0.8) 100% 
        );
}

canvas{
    background-color: white;
    box-shadow: 0 0 8px 0 rgba(233, 228, 228, 0.897);
}

input{
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: 0;
    text-align: center;
    color: white;
}