<!DOCTYPE html>

<html>

<head>
    <title>NodeJs Learning | 404</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
        {{>footer}}
    </div>
    
    {{>footer}}
</body>

</html>