<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>NodeJs Learning | About</title>
</head>
<link rel="stylesheet" href="./css/style.css">
<body>
   {{>header}}
   <p>My name is {{name}} and my age is {{age}} .</p>
   <img class="portrait" src="img/6.jpg" alt="Image!">
   {{>footer}}
</body>
</html>