.topic {
    font-family: "Trebuchet MS";
    font-size: 4rem;
    text-shadow: 1px 1px 1px rgb(231, 135, 25),
                3px 3px 2px rgb(236, 233, 37);
    text-align: center;
    font-weight: bold;

}

.play-again {
    margin: auto;
    background-color: #4CAF50;
    border: none;
    color: white;
    width: 120px;  
    height: 60px;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
}

.attempts-left {
    display: flex;
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 15px;
    box-shadow: 5px 5px 5px 5px #aaa;
    height: 100px;
    width: 500px;
    justify-content: center;  
    align-items: center;  
    margin-bottom: 15px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 2px auto 0;
    width: 1000px;
}
  
.card {
    box-shadow: 5px 5px 5px 0 #aaa;
    cursor: pointer;
    height: 100px;
    position: relative;
    width: 100px;
    margin: 5px;
}
 
.hints {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}
.danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
}

.success {
    background-color: #ddffdd;
    border-left: 6px solid #04AA6D;
}

.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
}

.warning {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
}