* {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

/* Global Body styles */
body {
    margin: 0;
    min-height: 100vh;
    background-color: #000;
}

#container {
    /* allows the banners to be floated above the canvas using absolute positions */
    position: relative;
}

#canvas {
    background-color: #000;
}

/* Banner Styles */

.top-banner,
#bottom-banner {
    width: 100%;
    height: 90px;
    margin: 0;
    position: absolute;
}

#bottom-banner {
    bottom: 0;
    height: 75%;
}

/* Name Title Above Game */

.name-title {
    opacity: 80%;
    padding-top: 5%;
}

h1,
h2 {
    text-align: center;
    margin: 0 auto;
    color: aliceblue;
    font-family: "Audiowide", sans-serif;
    font-size: clamp(20px, 9vw, 70px);
    padding-top: 30px;
    position: absolute;
    width: 100%;
}

.text-layer-1 {
    padding-top: 29px;
    color: rgb(0, 0, 0);
    font-size: clamp(20px, 9vw, 71px);
}

.text-layer-2 {
    padding-top: 24px;
    color: rgba(73, 53, 255, 0.226);
    font-size: clamp(20px, 9vw, 72px);
}

.text-layer-3 {
    padding-top: 26px;
    color: rgba(255, 255, 255, 0.103);
    font-size: clamp(20px, 9vw, 71px);
}

.text-layer-4 {
    padding-top: 29px;
    color: rgb(255 255 255 / 76%);
    font-size: clamp(20px, 9vw, 70px);
}

.text-layer-5 {
    padding-top: 34px;
    padding-right: 0.3%;
    color: rgb(255 255 255 / 100%);
    font-size: clamp(20px, 9vw, 70px);
}

.text-layer-6 {
    padding-right: 0.3%;
    padding-top: 30px;
    color: rgb(255 255 255 / 100%);
    font-size: clamp(20px, 9vw, 70px);
}

.text-layer-7 {
    padding-left: 0.3%;
    padding-top: 34px;
    color: rgb(255 255 255 / 100%);
    font-size: clamp(20px, 9vw, 70px);
}

.text-layer-8 {
    padding-left: 0.3%;
    padding-top: 29px;
    color: rgb(255 255 255 / 95%);
    font-size: clamp(20px, 9vw, 70px);
}

.text-layer-9 {
    padding-top: 22px;
    color: rgba(73, 53, 255, 0.164);
    font-size: clamp(20px, 9vw, 74px);
}

.text-layer-10 {
    padding-left: 0.3%;
    padding-top: 17px;
    color: rgba(73, 53, 255, 0.137);
    font-size: clamp(20px, 9vw, 77px);
}
/* Buttons */

button {
    outline: none;
}

.dir-btn-container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0;
}

.dir-btns-sides {
    border: none;
    list-style: none;
    height: 100%;
    background-color: transparent;
    width: 50%;
}

.side-screen-btn {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
}

.mute-btn,
.reset-btn {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

#mute,
#reset,
#start-btn,
#restart-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    cursor: pointer;
}

#mute {
    font-size: clamp(13px, 3vw, 20px);
    padding: 5px 0 0 8px;
    position: absolute;
    margin: 2px;
}

#mute:active {
    top: 1px;
}

.mute-btn i {
    color: rgba(255, 255, 255, 0.658);
}

.mute-btn li,
.reset-btn li {
    top: 0;
    position: absolute;
}

.reset-btn li {
    right: 7px;
    top: 7px;
}

#reset,
#start-btn,
#restart-btn {
    color: rgba(255, 255, 255, 0.541);
    font-family: "Oxanium", cursive;
    font-size: clamp(4px, 3.5vw, 21px);
    background-color: rgba(255, 255, 255, 0.048);
    border: 1px solid rgba(105, 105, 105, 0.363);
    border-radius: 4%;
    transition: all 0.1s ease-out;
    padding: 0 3px;
}

#reset {
    padding: 2px 3px 0;
}

#start-btn,
#restart-btn {
    color: #fff;
    font-size: clamp(20px, 3vw, 40px);
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgb(105, 105, 105);
    margin: 18px;
    padding: 2px 10px;
}

#reset:hover {
    background-color: rgba(255, 255, 255, 0.274);
    color: rgba(255, 255, 255, 0.8);
}

#start-btn:hover,
#restart-btn:hover {
    background-color: rgba(255, 255, 255, 0.493);
}

#reset:active,
#start-btn:active,
#restart-btn:active {
    top: 1.5px;
    position: relative;
}

ul.github-button {
    bottom: 7px;
    margin: 0;
}

.github-button {
    position: absolute;
    padding: 0;
    right: 7px;
}

.github-button a i {
    color: rgba(255, 255, 255, 0.637);
    font-size: clamp(18px, 8vw, 35px);
}

/* Panels */

#countdown,
#start-panel,
#crash-panel,
#completed-panel {
    position: absolute;
    width: 100%;
    top: 42%;
    text-align: center;
    color: #fff;
    font-family: "Oxanium", cursive;
    font-size: 20px;
}

#start-panel,
#crash-panel,
#completed-panel {
    top: 20%;
    background-color: rgba(46, 46, 46, 0.13);
    border: 1px solid rgba(255, 255, 255, 0.212);
    border-radius: 15%;
}

#crash-panel,
#completed-panel {
    visibility: visible;
}

#start-panel p,
#countdown p,
#crash-panel p,
#completed-panel p {
    margin: 25px 30px;
    font-size: clamp(13px, 1vw, 20px);
}

p#credit {
    font-size: clamp(4px, 2vw, 10px);
    color: #A8A8A8;
}

.hidden {
    display: none;
}

/* Media Queries */

/* Small devices (Landscape) */
@media only screen and (max-width: 600px) and (orientation: landscape) {
    .name-title {
        padding-top: 0;
    }

    h1,
    h2 {
        font-size: clamp(20px, 8vw, 70px);
        padding-top: 10px;
    }

    .text-layer-1 {
        padding-top: 9px;
        font-size: clamp(20px, 8vw, 71px);
    }

    .text-layer-2 {
        padding-top: 4px;
        font-size: clamp(20px, 8vw, 72px);
    }

    .text-layer-3 {
        padding-top: 6px;
        font-size: clamp(20px, 8vw, 71px);
    }

    .text-layer-4 {
        padding-top: 9px;
        font-size: clamp(20px, 8vw, 70px);
    }

    .text-layer-5 {
        padding-top: 14px;
        font-size: clamp(20px, 8vw, 70px);
    }

    .text-layer-6 {
        padding-top: 10px;
        font-size: clamp(20px, 8vw, 70px);
    }

    .text-layer-7 {
        padding-top: 14px;
        font-size: clamp(20px, 8vw, 70px);
    }

    .text-layer-8 {
        padding-top: 9px;

        font-size: clamp(20px, 8vw, 70px);
    }

    .text-layer-9 {
        padding-top: 2px;
        font-size: clamp(20px, 8vw, 74px);
    }

    .text-layer-10 {
        padding-top: 7px;
        font-size: clamp(20px, 8vw, 77px);
    }

    #reset {
        font-size: clamp(4px, 2.5vw, 21px);
    }

    #start-panel p,
    #countdown p,
    #crash-panel p,
    #completed-panel p {
        font-size: clamp(11px, 1vw, 30px);
        margin: 15px 5px;
    }
    #start-btn,
    #restart-btn {
        margin: 3px;
    }
    #start-panel,
    #crash-panel,
    #completed-panel {
        top: 25%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #reset {
        font-size: clamp(4px, 2.5vw, 21px);
    }
    #start-btn,
    #restart-btn {
        font-size: clamp(4px, 3.5vw, 21px);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .name-title {
        padding-top: 2%;
    }

    #start-panel p,
    #countdown p,
    #crash-panel p,
    #completed-panel p {
        margin: 30px 100px;
        font-size: clamp(12px, 2.5vw, 30px);
    }
    #start-btn,
    #restart-btn {
        font-size: clamp(4px, 4vw, 40px);
    }
    p#credit {
        font-size: clamp(4px, 2vw, 10px);
    }
}

/* Large tablets (Lanscape) */
@media only screen and (max-height: 600px) and (max-width: 1200px) and (orientation: landscape) {
    .name-title {
        padding-top: 0;
    }
    h1,
    h2 {
        font-size: clamp(20px, 6vw, 70px);
        padding-top: 10px;
    }
    .text-layer-1 {
        padding-top: 9px;
        font-size: clamp(20px, 6vw, 71px);
    }
    .text-layer-2 {
        padding-top: 4px;
        font-size: clamp(20px, 6vw, 72px);
    }
    .text-layer-3 {
        padding-top: 6px;
        font-size: clamp(20px, 6vw, 71px);
    }
    .text-layer-4 {
        padding-top: 9px;
        font-size: clamp(20px, 6vw, 70px);
    }
    .text-layer-5 {
        padding-top: 14px;
        font-size: clamp(20px, 6vw, 70px);
    }
    .text-layer-6 {
        padding-top: 10px;
        font-size: clamp(20px, 6vw, 70px);
    }
    .text-layer-7 {
        padding-top: 14px;
        font-size: clamp(20px, 6vw, 70px);
    }
    .text-layer-8 {
        padding-top: 9px;
        font-size: clamp(20px, 6vw, 70px);
    }
    .text-layer-9 {
        padding-top: 2px;
        font-size: clamp(20px, 6vw, 74px);
    }
    .text-layer-10 {
        padding-top: 7px;
        font-size: clamp(20px, 6vw, 77px);
    }
    #start-panel p,
    #countdown p,
    #crash-panel p,
    #completed-panel p {
        margin: 10px 20px;
        font-size: clamp(12px, 2.5vw, 30px);
    }
    #start-btn,
    #restart-btn {
        font-size: clamp(4px, 3vw, 40px);
    }
    p#credit {
        font-size: clamp(4px, 1vw, 10px);
    }
}

@media only screen and (max-height: 1000px) and (max-width: 1200px) and (orientation: landscape) {
    #start-panel p,
    #countdown p,
    #crash-panel p,
    #completed-panel p {
        margin: 10px 20px;
        font-size: clamp(12px, 2vw, 30px);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .name-title {
        padding-top: 0;
    }
    h1,
    h2 {
        font-size: clamp(20px, 9vw, 90px);
    }
    .text-layer-1 {
        font-size: clamp(20px, 9vw, 91px);
    }
    .text-layer-2 {
        padding-top: 18px;
        font-size: clamp(20px, 9vw, 92px);
    }
    .text-layer-3 {
        padding-top: 24px;
        font-size: clamp(20px, 9vw, 91px);
    }
    .text-layer-4 {
        font-size: clamp(20px, 9vw, 90px);
    }
    .text-layer-5 {
        padding-top: 37px;
        padding-right: 0.3%;
        font-size: clamp(20px, 9vw, 90px);
    }
    .text-layer-6 {
        font-size: clamp(20px, 9vw, 90px);
    }
    .text-layer-7 {
        padding-left: 0.3%;
        padding-top: 37px;
        font-size: clamp(20px, 9vw, 90px);
    }
    .text-layer-8 {
        font-size: clamp(20px, 9vw, 90px);
    }
    .text-layer-9 {
        font-size: clamp(20px, 9vw, 94px);
    }
    .text-layer-10 {
        padding-left: 0.3%;
        padding-top: 10px;
        font-size: clamp(20px, 9vw, 97px);
    }
    #start-btn,
    #restart-btn {
        margin: 20px;
    }
    #reset {
        font-size: clamp(2px, 1.5vw, 18px);
    }
    #mute {
        margin: 0;
    }
    #start-panel p,
    #countdown p,
    #crash-panel p,
    #completed-panel p {
        margin: 30px 150px;
    }
    p#credit {
        font-size: clamp(4px, 2vw, 10px);
    }
}
