@font-face{
   font-family: 'pixel-twist';
   src: url('PixelTwist.ttf'); /* IE9 Compat Modes */
   src: url('PixelTwist.ttf') format('embedded-opentype'), /* IE6-IE8 */
         url('PixelTwist.ttf') format('woff'), /* Modern Browsers */
         url('PixelTwist.ttf')  format('truetype'), /* Safari, Android, iOS */
}

h1 {
   font-family: 'pixel-twist', cursive;
   color: red;
   background-color: white;
   width: 512px;
   height: 45px;
   margin-bottom: 5px;
   border-radius: 5px;
   /* text-shadow: 0 0 1px #fff; */
   /* -webkit-text-shadow: 0 0 2px #000; */
}

.grid-container {
   display: grid;
   background-color: #ffffff;
   border-radius: 5px;
   /* grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto; */
   /* grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto; */
   /*/
   /* grid-gap: 10px; */
   /* background-color: #2196F3; */
   /* padding: 10px; */
   /* margin: 10px; */
}

.container {
   /* height: 720px; */
   width: 100%;
}

.btn {
   background-color: #2196F3; /* Green */
   border: none;
   color: white;
   /* padding: 16px 32px; */
   padding: auto;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   cursor: pointer;
   border-radius: 3px;
}

.btn-blue {
   background-color: white; 
   color: black; 
   /* border: 5px solid #2196F3; */
}

.btn-blue:hover {
   /* background-color: #2196F3; */
   color: white;
}

#colorPicker {
   width: 40px;
   height: 18px;
}

/* .grid-container > div { */
   /* display: block;
   height: 5.02px; */
   /* background-color: #ffffff; */
   /* text-align: center;
   width: 32px;
   height: 32px;
   padding: 0;
   margin: 0; */
   /* padding: 20px 0; */
   /* font-size: 30px; */
/* } */

body {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#app { 
   height: 100%;
   width: 100%;
   left:0;
   right: 0;
   top: 0;
   bottom: 0;
   position: absolute;
   background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
   background-size: 1800% 1800%;
   -webkit-animation: rainbow 18s ease infinite;
   -z-animation: rainbow 18s ease infinite;
   -o-animation: rainbow 18s ease infinite;
   animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
   0%{background-position:0% 82%}
   50%{background-position:100% 19%}
   100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
   0%{background-position:0% 82%}
   50%{background-position:100% 19%}
   100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
   0%{background-position:0% 82%}
   50%{background-position:100% 19%}
   100%{background-position:0% 82%}
}
@keyframes rainbow { 
   0%{background-position:0% 82%}
   50%{background-position:100% 19%}
   100%{background-position:0% 82%}
}
