body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.inputword {
  padding: 10px;
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.para {
  font-size: 18px;
  margin-top: 10px;
  color: #555;
}

#synonyms {
  font-weight: bold;
  color: #333;
}
.loading-message {
  display: none;
  margin-top: 10px;
  color: #555;
}
