.layout {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: linear-gradient(white, gray);
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button {
  margin: 20px 10px 20px 10px;
  height: 40px;
  width: 120px;
  text-align: center;
  background: linear-gradient(white, gray);
  overflow: hidden;
}

.formWrapper {

}

.label {
  width: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input {
  margin: 0 10px 10px 10px;
  width: 50px;
  padding: 5px;
}

.selectInput {
  margin: 0 0 10px 0;
  width: 80px;
}

.row {
  display: flex;
  flex-direction: row;
  text-align: left;
}
