:root {
  --background-color: rgb(10, 10, 10);
  --background-color-alternate: rgb(15, 15, 15);
  --button-color: rgb(35, 35, 35);
  --button-color-hover: rgb(25, 25, 25);
  --font-color: rgb(255, 255, 255);
  --border-color: rgb(69, 69, 69);
  --content-color: rgb(35, 35, 35);
}

input:focus {
  outline: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

html,
body {
  scale: 90%;
  background-color: rgb(35, 35, 35);
  max-width: 100vw;
  overflow-x: hidden;
}

