* {
    background-color: rgb(212, 202, 221);

}
.c1 {
    border: 5px solid coral;
}


.c3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #133cf5;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #f1f52f}
  
  .button:active {
    background-color: #1cc4f7;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .btns {
     text-align: center;
     margin-bottom: 240px;
  }
.l1{

    font-family: monospace;
}

#video {
    border: 2px solid rgb(230, 22, 22);
    width: 25%;
   display:block;
   margin:0 auto;
}

