.App-header {
    background-color: #282c34;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    font-weight: 100px;
    color: white;
  }