.input {
    width: 40vw;
}
.space {
    height: 30px;
}
.btn {
    background-color: #282c34;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.error {
    font-size: 30px;
    margin-top: 100px;
    margin: 100px 40px 40px 40px;
}