.outputContainer {
    display: flex;
    flex-direction: column;
    margin: 70px 150px 150px 150px;
    border-style: solid;
    border-color: #A9A9A9;
    border-width: 1px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.cordinatesDiv {
    display: flex;
}
.coordinates {
    margin: 10px;
}
.weatherDiv {
    margin-top: 10px;
    margin-bottom: 20px;
}
.image {
    width: 35px;
    height: 35px;
    margin: 10px 10px 20px 10px;
}