*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Satisfy', cursive;
    background-color: #ffb8b8;
}
.calculator{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin-top: 10rem; */
    /* border: 1px solid red; */
}
.calculator h1{
    margin: 2rem;
    font-size: 4rem;
    font-family: 'Ephesis', cursive;
}
.calculator p{
    font-size: 2rem;
    margin-right: 6rem;
}
.items{
    margin: 1rem;
}
.units{
    width: 7rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.8rem;
    margin-left: 0.5rem;
    background-color: #ffb8b8;
    border: none;
}
.app-input{
    
    width: 17rem;
    border: 1px solid black;
    padding: 1rem 0.5rem;
    border-radius: 0.8rem;
    font-size: 1.5rem;
}
#calculate{
    font-size: 2rem;
    padding: 0.8rem 2rem;
    margin-top: 1.5rem;
    border-radius: 1rem;
    /* border: 1px red solid; */
    color: black;
    background-color: #ffb8b8;
    border: none;
    
}
#calculate:hover{
    background-color:#ffe7e7;
    cursor: pointer;
}