.todo-profile-name {
    padding: 5px;
}

.todo-add-task {
    margin-top:90px;
    max-width:400px;
}

.todo-available-tasks {
    margin-bottom:30px;
    max-width:400px;
}

.todo-available-tasks-text {
    margin-left:30%;
    padding-bottom:5px;
    padding-top:5px;
    margin-bottom:20px;
    max-width:170px;
    font-size:15px;
}

.todo-edit-task-input {
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    max-width:300px;
}

.todo-update-task {
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}

.todo-task {
    max-width:260px;
}
